AutoFlow - Web Page.json
{
  "name": "AF.3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "presupuesto",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "27f0ffec-8c2a-4c9f-b927-bc3e00cf5ccd",
      "name": "Recibir formulario web",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -208,
        144
      ],
      "webhookId": "1484e1f0-ed93-465f-a43d-8b1305cf5b82"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Solicitud recibida. Propuesta en camino.\" }",
        "options": {}
      },
      "id": "1f4295f4-ca4d-416d-9b8a-d80643125507",
      "name": "Responder OK al navegador",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// ── AutoFlow v3 · Procesar y calcular presupuesto ──\nconst raw = typeof $input.first().json.body === 'string'\n  ? JSON.parse($input.first().json.body)\n  : ($input.first().json.body || $input.first().json);\n\nconst now = new Date();\nconst fecha = now.toLocaleDateString('es-ES', {\n  day: '2-digit', month: 'long', year: 'numeric'\n});\n\n// ── Campos del formulario ──\nconst servicios    = raw.servicios_seleccionados || raw.servicios || '';\nconst dolor        = raw.dolor_principal || raw.descripcion || '';\nconst horasPerdidas= raw.horas_perdidas || '5-15';\nconst personasManuales = raw.personas_manuales || '1';\nconst facturacion  = raw.facturacion || '';\nconst sedes        = parseInt(raw.sedes) || 1;\nconst madurez      = raw.madurez_digital || '';\nconst prioridad    = raw.prioridad || '';\nconst consecuencias= raw.consecuencias || '';\nconst intentoPrevio= raw.intento_previo || '';\nconst notasExtra   = raw.notas_extra || '';\nconst sectorLabel  = raw.sector_label || raw.sector || '';\nconst vol          = parseInt(raw.volumen_mensual) || 100;\n\n// ── Complejidad ──\nconst sel = servicios.split('|').map(s => s.trim()).filter(Boolean);\nlet cx = 'Básica';\nif (sel.length > 2 || vol > 150) cx = 'Media';\nif (sel.length > 4 || vol > 300) cx = 'Avanzada';\nif (sel.length > 6) cx = 'Premium';\n\n// ── Precios base por automatización ──\nconst priceMap = {\n  'Gestión de citas y agendas': 1800,\n  'Chatbot de atención al cliente': 2200,\n  'Recordatorios automáticos': 900,\n  'Integración CRM y bases de datos': 1400,\n  'Generación de documentos y PDFs con IA': 1200,\n  'Email y WhatsApp marketing': 900,\n  'Facturación y presupuestos automáticos': 1100,\n  'Reportes y dashboards automáticos': 800,\n  'E-commerce y gestión de pedidos': 1600,\n  'Procesos internos de RRHH y onboarding': 1000,\n  'Seguimiento y nurturing de leads': 1100,\n  'Notificaciones y alertas internas': 700\n};\n\nlet base = 1500;\nsel.forEach(s => { base += (priceMap[s] || 700); });\n\n// Multiplicadores\nconst volMult  = vol > 400 ? 1.3 : vol > 250 ? 1.18 : vol > 150 ? 1.1 : 1;\nconst eqMap    = { '1-3': 0.9, '4-10': 1, '11-30': 1.12, '31-100': 1.22, '100+': 1.35 };\nconst sedesMul = sedes >= 15 ? 1.35 : sedes >= 6 ? 1.2 : sedes >= 2 ? 1.1 : 1;\nbase = Math.round(base * volMult);\nbase = Math.round(base * (eqMap[raw.equipo] || 1));\nbase = Math.round(base * sedesMul);\nconst total = Math.round(base / 250) * 250;\n\n// Desglose interno\nconst dev           = Math.round(total * 0.55 / 100) * 100;\nconst integraciones = Math.round(total * 0.25 / 100) * 100;\nconst testing       = total - dev - integraciones;\n\n// Opciones de pago\nconst p2ini = Math.round(total * 0.45 / 250) * 250;\nconst p2mes = Math.round((total * 0.65 / 18) / 50) * 50;\nconst p3    = Math.round((total * 1.1 / 12) / 50) * 50;\n\n// ROI\nconst horasMap    = { '1-5': 3, '5-15': 10, '15-30': 22, '30+': 40 };\nconst personasMap = { '1': 1, '2-3': 2.5, '4-6': 5, '7+': 8 };\nconst hrsSemanales= horasMap[horasPerdidas] || 10;\nconst numPersonas = personasMap[personasManuales] || 2;\nconst hrsMes      = Math.round(hrsSemanales * 4 * numPersonas * 0.75 / 5) * 5;\nconst ahorro      = Math.round(hrsMes * 18 * 12 / 500) * 500;\nconst roiMeses    = Math.round((total / (ahorro / 12)) * 10) / 10;\n\n// Número de propuesta (timestamp corto)\nconst numProp = 'AF-' + now.getFullYear() + String(now.getMonth()+1).padStart(2,'0') + String(now.getDate()).padStart(2,'0') + '-' + String(now.getHours()).padStart(2,'0') + String(now.getMinutes()).padStart(2,'0');\n\nreturn [{\n  json: {\n    FECHA_SOLICITUD:      fecha,\n    NUM_PROPUESTA:        numProp,\n    NOMBRE:               (raw.nombre || '').trim(),\n    EMPRESA:              raw.empresa || '',\n    SECTOR:               sectorLabel,\n    EQUIPO:               raw.equipo || '',\n    EMAIL:                raw.email || '',\n    TELEFONO:             raw.telefono || '',\n    VOLUMEN_MENSUAL:      vol,\n    SERVICIOS:            sel.join(', ') || 'No especificados',\n    HERRAMIENTAS:         raw.herramientas || '',\n    DESCRIPCION:          dolor,\n    HORAS_PERDIDAS:       horasPerdidas,\n    PERSONAS_MANUALES:    personasManuales,\n    FACTURACION:          facturacion,\n    SEDES:                sedes,\n    MADUREZ_DIGITAL:      madurez,\n    PRIORIDAD:            prioridad,\n    CONSECUENCIAS:        consecuencias,\n    INTENTO_PREVIO:       intentoPrevio,\n    NOTAS_EXTRA:          notasExtra,\n    MODELO_PAGO:          raw.modelo_pago || 'indiferente',\n    DISPONIBILIDAD:       raw.disponibilidad || '',\n    URGENCIA:             raw.urgencia || '',\n    COMPLEJIDAD:          cx,\n    PRECIO_UNICO:         total.toLocaleString('es-ES') + ' EUR',\n    PRECIO_UNICO_NUM:     total,\n    PRECIO_INICIAL:       p2ini.toLocaleString('es-ES') + ' EUR',\n    PRECIO_MENSUAL_MIXTO: p2mes + ' EUR/mes',\n    PRECIO_SOLO_MENSUAL:  p3 + ' EUR/mes',\n    PRECIO_DEV:           dev.toLocaleString('es-ES') + ' EUR',\n    PRECIO_INTEGRACIONES: integraciones.toLocaleString('es-ES') + ' EUR',\n    PRECIO_TESTING:       testing.toLocaleString('es-ES') + ' EUR',\n    HORAS_LIBERADAS_MES:  hrsMes + 'h',\n    AHORRO_ESTIMADO:      ahorro.toLocaleString('es-ES') + ' EUR/año',\n    ROI_MESES:            roiMeses + ' meses',\n    ESTADO:               'Nuevo',\n    PDF_ENVIADO:          'NO',\n    NOTAS:                ''\n  }\n}];\n"
      },
      "id": "34a3703d-7e06-4bbc-9ce4-15556e6e4658",
      "name": "Procesar y calcular presupuesto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        272
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1P-NYvDHs1yznDsUUvhkzoS7y1haNCu-G9nLC_JviWwM",
          "mode": "list",
          "cachedResultName": "AutoFlow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-NYvDHs1yznDsUUvhkzoS7y1haNCu-G9nLC_JviWwM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-NYvDHs1yznDsUUvhkzoS7y1haNCu-G9nLC_JviWwM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "6d22baa8-5c4d-4bb9-8fd8-cc3c0b90f420",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        224,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "Eres un experto en automatización de negocios con IA. Tu misión es analizar el caso de un cliente y generar un análisis profesional y convincente para incluir en una propuesta comercial PDF. Escribe en español, de forma directa, específica y orientada al impacto de negocio. NUNCA uses asteriscos ni markdown. Estructura tu respuesta EXACTAMENTE con estas secciones separadas por ===NOMBRE DE SECCIÓN===.",
              "role": "system"
            },
            {
              "content": "=== DATOS DEL CLIENTE ===\nEmpresa: {{ $('Procesar y calcular presupuesto').first().json.EMPRESA }}\nSector: {{ $('Procesar y calcular presupuesto').first().json.SECTOR }}\nEquipo: {{ $('Procesar y calcular presupuesto').first().json.EQUIPO }} personas\nVolumen mensual: {{ $('Procesar y calcular presupuesto').first().json.VOLUMEN_MENSUAL }} gestiones/mes\nHerramientas actuales: {{ $('Procesar y calcular presupuesto').first().json.HERRAMIENTAS }}\nHoras perdidas semanales: {{ $('Procesar y calcular presupuesto').first().json.HORAS_PERDIDAS }}\nPersonas haciendo tareas manuales: {{ $('Procesar y calcular presupuesto').first().json.PERSONAS_MANUALES }}\nAutomatizaciones solicitadas: {{ $('Procesar y calcular presupuesto').first().json.SERVICIOS }}\nProblema principal: {{ $('Procesar y calcular presupuesto').first().json.DESCRIPCION }}\nConsecuencias de no automatizar: {{ $('Procesar y calcular presupuesto').first().json.CONSECUENCIAS }}\nIntento previo de automatización: {{ $('Procesar y calcular presupuesto').first().json.INTENTO_PREVIO }}\nPrioridad: {{ $('Procesar y calcular presupuesto').first().json.PRIORIDAD }}\nNotas adicionales: {{ $('Procesar y calcular presupuesto').first().json.NOTAS_EXTRA }}\n\nGenera el análisis con EXACTAMENTE este formato, respetando los separadores ===:\n\n===DIAGNÓSTICO DE TU SITUACIÓN ACTUAL===\nEscribe 3-4 párrafos analizando el problema real del cliente, el coste de la inacción y por qué es el momento de actuar. Sé específico con sus datos.\n\n===AUTOMATIZACIONES RECOMENDADAS===\nPara cada automatización solicitada, escribe un bloque con este formato EXACTO:\n\nAUTOMATIZACIÓN 1: [Nombre de la automatización]\nQué hace: [Descripción clara de qué hace exactamente este sistema]\nCómo funciona: [Explicación técnica accesible del flujo]\nImpacto directo: [Qué cambia en el día a día del cliente]\nTiempo de implementación: [Estimación realista]\nInversión: [Precio de este módulo de los datos recibidos]\n\nAUTOMATIZACIÓN 2: [siguiente...]\n(repite para cada automatización solicitada)\n\n===PLAN DE IMPLEMENTACIÓN===\nEscribe los pasos de implementación con este formato:\n\nPaso 1: Análisis y configuración inicial\n[Descripción breve]\n\nPaso 2: Desarrollo e integración\n[Descripción breve]\n\nPaso 3: Testing y ajustes\n[Descripción breve]\n\nPaso 4: Formación y puesta en marcha\n[Descripción breve]\n\n===POR QUÉ AUTOFLOW===\nEscribe 2-3 párrafos sobre las garantías, el soporte y por qué confiar en AutoFlow para este proyecto específico."
            }
          ]
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        }
      },
      "id": "922ae737-e3f3-452c-94d9-a8ba36e1213f",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "InVTotEOnyJ39ovi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ── AutoFlow v3 · Preparar datos para PDF ──\nconst datos = $('Procesar y calcular presupuesto').first().json;\n\n// Extraer el texto generado por GPT-4.1\nconst iaRaw = $input.first().json;\nconst analisis = iaRaw?.output?.[0]?.content?.[0]?.text\n  || iaRaw?.text\n  || iaRaw?.content\n  || iaRaw?.message?.content\n  || '';\n\nif (!analisis) {\n  throw new Error('GPT no devolvió contenido. Revisar configuración del nodo OpenAI.');\n}\n\nconst payload = {\n  // Identificación\n  num_propuesta:        datos.NUM_PROPUESTA,\n  nombre:               datos.NOMBRE,\n  empresa:              datos.EMPRESA,\n  sector:               datos.SECTOR,\n  equipo:               datos.EQUIPO,\n  email:                datos.EMAIL,\n  telefono:             datos.TELEFONO,\n  fecha:                datos.FECHA_SOLICITUD,\n  // Proyecto\n  volumen_mensual:      String(datos.VOLUMEN_MENSUAL),\n  servicios:            datos.SERVICIOS,\n  herramientas:         datos.HERRAMIENTAS,\n  descripcion:          datos.DESCRIPCION,\n  complejidad:          datos.COMPLEJIDAD,\n  // Precios\n  modelo_pago:          datos.MODELO_PAGO,\n  precio_unico:         datos.PRECIO_UNICO,\n  precio_inicial:       datos.PRECIO_INICIAL,\n  precio_mensual_mixto: datos.PRECIO_MENSUAL_MIXTO,\n  precio_solo_mensual:  datos.PRECIO_SOLO_MENSUAL,\n  precio_dev:           datos.PRECIO_DEV,\n  precio_integraciones: datos.PRECIO_INTEGRACIONES,\n  precio_testing:       datos.PRECIO_TESTING,\n  // ROI\n  horas_liberadas_mes:  datos.HORAS_LIBERADAS_MES,\n  ahorro_estimado:      datos.AHORRO_ESTIMADO,\n  roi_meses:            datos.ROI_MESES,\n  // Contexto\n  horas_perdidas:       datos.HORAS_PERDIDAS,\n  personas_manuales:    datos.PERSONAS_MANUALES,\n  intento_previo:       datos.INTENTO_PREVIO,\n  consecuencias:        datos.CONSECUENCIAS,\n  prioridad:            datos.PRIORIDAD,\n  disponibilidad:       datos.DISPONIBILIDAD,\n  // IA\n  analisis_ia:          analisis\n};\n\nreturn [{ json: { payload } }];\n"
      },
      "id": "8bc57287-1557-4c55-8f0b-75cafc917853",
      "name": "Preparar datos para PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// ── AutoFlow v3 · Generar HTML del PDF ──\nconst p = $input.first().json.payload;\n\n// ── Parser de secciones IA ──────────────────────────\nfunction parseSecciones(texto) {\n  if (!texto) return '<p style=\"color:red\">Error: no se recibió análisis de IA.</p>';\n\n  const partes = texto.split(/===([^=]+)===/g);\n  let html = '';\n\n  for (let i = 1; i < partes.length; i += 2) {\n    const titulo  = partes[i].trim();\n    const cuerpo  = (partes[i + 1] || '').trim();\n\n    const parrafos = cuerpo.split(/\\n\\n+/).map(bloque => {\n      bloque = bloque.trim();\n      if (!bloque) return '';\n\n      // Bloque de automatización\n      if (/^AUTOMATIZACIÓN\\s*\\d+[:.]/.test(bloque)) {\n        const lineas = bloque.split('\\n');\n        const tituloAuto = lineas[0];\n        const resto = lineas.slice(1).map(linea => {\n          const m = linea.match(/^([^:]+):\\s*(.+)/);\n          if (!m) return `<p class=\"auto-p\">${linea}</p>`;\n          const label   = m[1].trim();\n          const content = m[2].trim();\n          if (label === 'Inversión') {\n            return `<div class=\"auto-field\"><span class=\"auto-label\">${label}</span><span class=\"auto-precio\">${content}</span></div>`;\n          }\n          return `<div class=\"auto-field\"><span class=\"auto-label\">${label}</span><span class=\"auto-content\">${content}</span></div>`;\n        }).join('');\n        return `<div class=\"auto-bloque\"><div class=\"auto-titulo\">${tituloAuto}</div>${resto}</div>`;\n      }\n\n      // Paso de implementación\n      if (/^Paso \\d+/.test(bloque)) {\n        return `<div class=\"paso-bloque\">${bloque.replace(/\\n/g, '<br>')}</div>`;\n      }\n\n      // Párrafo normal\n      return `<p>${bloque.replace(/\\n/g, ' ')}</p>`;\n    }).join('');\n\n    html += `\n      <div class=\"seccion page-safe\">\n        <h2>${titulo}</h2>\n        <div class=\"seccion-body\">${parrafos}</div>\n      </div>`;\n  }\n\n  return html || '<p>No se encontraron secciones en el análisis.</p>';\n}\n\n// ── Bloque de precio según modelo ───────────────────\nfunction getPrecioHTML() {\n  const m = p.modelo_pago;\n  if (m === 'unico') return `\n    <div class=\"precio-destacado\">\n      <div class=\"precio-tipo\">Inversión — Pago único</div>\n      <div class=\"precio-val\">${p.precio_unico}</div>\n      <div class=\"precio-desc\">Sistema en propiedad permanente. Sin cuotas ni dependencias futuras.</div>\n    </div>`;\n  if (m === 'mixto') return `\n    <div class=\"precio-destacado\">\n      <div class=\"precio-tipo\">Inversión — Pago mixto</div>\n      <div class=\"precio-val\">${p.precio_inicial} <span style=\"font-size:18px\">+</span> ${p.precio_mensual_mixto}</div>\n      <div class=\"precio-desc\">Entrada inicial y el resto en 18 cuotas cómodas. El sistema queda en propiedad al finalizar.</div>\n    </div>`;\n  if (m === 'mensual') return `\n    <div class=\"precio-destacado\">\n      <div class=\"precio-tipo\">Inversión — Cuota mensual</div>\n      <div class=\"precio-val\">${p.precio_solo_mensual}</div>\n      <div class=\"precio-desc\">Sin inversión inicial. Mantenimiento y soporte incluidos cada mes.</div>\n    </div>`;\n  // indiferente → tres opciones\n  return `\n    <div class=\"precios-tres\">\n      <div class=\"precio-card\">\n        <div class=\"precio-tipo\">Pago único</div>\n        <div class=\"precio-val-sm\">${p.precio_unico}</div>\n        <div class=\"precio-desc-sm\">Propiedad total. Sin cuotas.</div>\n      </div>\n      <div class=\"precio-card best\">\n        <div class=\"precio-tipo\">⭐ Mixto (recomendado)</div>\n        <div class=\"precio-val-sm\">${p.precio_inicial} + ${p.precio_mensual_mixto}</div>\n        <div class=\"precio-desc-sm\">Entrada + 18 cuotas. Propiedad al finalizar.</div>\n      </div>\n      <div class=\"precio-card\">\n        <div class=\"precio-tipo\">Cuota mensual</div>\n        <div class=\"precio-val-sm\">${p.precio_solo_mensual}</div>\n        <div class=\"precio-desc-sm\">Sin inversión inicial. Soporte incluido.</div>\n      </div>\n    </div>`;\n}\n\n// ── Métricas ROI ─────────────────────────────────────\nconst metricasROI = `\n  <div class=\"metricas-roi\">\n    <div class=\"metrica\">\n      <div class=\"metrica-val\">${p.horas_liberadas_mes}</div>\n      <div class=\"metrica-lbl\">Horas liberadas / mes</div>\n    </div>\n    <div class=\"metrica\">\n      <div class=\"metrica-val\">${p.ahorro_estimado}</div>\n      <div class=\"metrica-lbl\">Ahorro anual estimado</div>\n    </div>\n    <div class=\"metrica\">\n      <div class=\"metrica-val\">${p.roi_meses}</div>\n      <div class=\"metrica-lbl\">Retorno de inversión</div>\n    </div>\n  </div>`;\n\n// ── Desglose de precio ───────────────────────────────\nconst desgloseHTML = `\n  <div class=\"desglose\">\n    <div class=\"desglose-titulo\">Desglose de la inversión</div>\n    <div class=\"desglose-fila\"><span>Desarrollo e implementación</span><span>${p.precio_dev}</span></div>\n    <div class=\"desglose-fila\"><span>Integraciones y configuración</span><span>${p.precio_integraciones}</span></div>\n    <div class=\"desglose-fila\"><span>Testing y puesta en marcha</span><span>${p.precio_testing}</span></div>\n    <div class=\"desglose-fila incluido\"><span>Soporte primer mes</span><span>Incluido</span></div>\n  </div>`;\n\n// ── HTML del análisis IA ─────────────────────────────\nconst seccionesHTML = parseSecciones(p.analisis_ia);\n\n// ── CSS ──────────────────────────────────────────────\nconst css = `\n  * { box-sizing: border-box; margin: 0; padding: 0; }\n  @page { size: A4; margin: 0; }\n  body {\n    font-family: Georgia, 'Times New Roman', serif;\n    color: #1a1410;\n    background: #ffffff;\n    font-size: 12.5px;\n    line-height: 1.85;\n    -webkit-print-color-adjust: exact;\n    print-color-adjust: exact;\n  }\n\n  /* PORTADA */\n  .portada {\n    background: #faf8f3;\n    min-height: 297mm;\n    padding: 64px 56px 56px;\n    display: flex;\n    flex-direction: column;\n    page-break-after: always;\n    position: relative;\n    overflow: hidden;\n    border-left: 5px solid #b8922a;\n  }\n  .portada::before {\n    content: '';\n    position: absolute;\n    top: -60px; right: -60px;\n    width: 480px; height: 480px;\n    background: radial-gradient(circle, rgba(184,146,42,0.07) 0%, transparent 65%);\n  }\n  .portada::after {\n    content: '';\n    position: absolute;\n    bottom: 0; left: 0; right: 0;\n    height: 2px;\n    background: linear-gradient(to right, #b8922a, transparent);\n  }\n  .logo-portada {\n    color: #b8922a;\n    font-size: 26px;\n    font-style: italic;\n    letter-spacing: -0.01em;\n    margin-bottom: 6px;\n  }\n  .logo-portada span {\n    color: #8c8779;\n    font-size: 9px;\n    font-style: normal;\n    letter-spacing: 2.5px;\n    text-transform: uppercase;\n    display: block;\n    margin-top: 6px;\n  }\n  .portada-spacer { flex: 1; }\n  .portada-eyebrow {\n    color: #b8922a;\n    font-size: 9px;\n    letter-spacing: 3px;\n    text-transform: uppercase;\n    margin-bottom: 18px;\n    font-family: Arial, sans-serif;\n    font-weight: 600;\n  }\n  .portada h1 {\n    color: #18140e;\n    font-size: 40px;\n    font-weight: 300;\n    line-height: 1.1;\n    margin-bottom: 14px;\n    letter-spacing: -0.02em;\n  }\n  .portada h1 em { color: #b8922a; font-style: italic; }\n  .portada-empresa { color: #8c8779; font-size: 13px; margin-bottom: 52px; }\n  .portada-meta {\n    display: flex;\n    gap: 40px;\n    border-top: 1px solid #ede8dc;\n    padding-top: 24px;\n  }\n  .portada-meta-label {\n    color: #8c8779;\n    font-size: 8px;\n    letter-spacing: 2px;\n    text-transform: uppercase;\n    font-family: Arial, sans-serif;\n    margin-bottom: 5px;\n  }\n  .portada-meta-val { color: #18140e; font-size: 12.5px; }\n\n  /* CABECERA INTERIOR */\n  .header-interior {\n    background: #faf8f3;\n    border-bottom: 1px solid #ede8dc;\n    padding: 16px 56px;\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n  }\n  .header-logo { color: #b8922a; font-size: 15px; font-style: italic; }\n  .header-ref { font-family: Arial, sans-serif; font-size: 9px; color: #8c8779; letter-spacing: 1px; text-transform: uppercase; }\n\n  .pagina-interior { padding: 0; background: #ffffff; }\n\n  /* BANNER CLIENTE */\n  .banner-cliente {\n    background: #f5f0e8;\n    border-bottom: 1px solid #ede8dc;\n    padding: 28px 56px;\n  }\n  .banner-cliente-label {\n    font-family: Arial, sans-serif;\n    font-size: 8.5px;\n    letter-spacing: 2.5px;\n    text-transform: uppercase;\n    color: #b8922a;\n    margin-bottom: 8px;\n    font-weight: 600;\n  }\n  .banner-cliente h2 {\n    font-size: 22px;\n    font-weight: 300;\n    color: #1a1410;\n    border: none; padding: 0; margin: 0 0 4px;\n    letter-spacing: -0.01em; text-transform: none;\n  }\n  .banner-cliente-sub { font-size: 12px; color: #8c8779; }\n\n  /* MÉTRICAS ROI */\n  .metricas-roi { display: flex; background: #18140e; page-break-inside: avoid; }\n  .metrica { flex: 1; padding: 28px 32px; border-right: 1px solid rgba(255,255,255,0.07); text-align: center; }\n  .metrica:last-child { border-right: none; }\n  .metrica-val { color: #d4aa4a; font-size: 26px; font-style: italic; font-weight: 300; line-height: 1; margin-bottom: 8px; }\n  .metrica-lbl { color: rgba(255,255,255,0.35); font-family: Arial, sans-serif; font-size: 8.5px; letter-spacing: 1.5px; text-transform: uppercase; font-weight: 600; }\n\n  /* SECCIONES */\n  .seccion { padding: 36px 56px; border-bottom: 1px solid #f0ebe0; }\n  .seccion:last-child { border-bottom: none; }\n  .page-safe { page-break-inside: avoid; }\n\n  h2 {\n    font-family: Arial, sans-serif;\n    font-size: 8.5px;\n    font-weight: 700;\n    letter-spacing: 2.5px;\n    text-transform: uppercase;\n    color: #b8922a;\n    margin-bottom: 20px;\n    padding-bottom: 10px;\n    border-bottom: 1px solid #ede8dc;\n    page-break-after: avoid;\n  }\n  p { margin-bottom: 14px; orphans: 4; widows: 4; color: #2a2520; }\n  p:last-child { margin-bottom: 0; }\n\n  /* AUTOMATIZACIONES */\n  .auto-bloque {\n    background: #faf8f3;\n    border: 1px solid #ede8dc;\n    border-left: 3px solid #b8922a;\n    padding: 20px 24px;\n    margin-bottom: 16px;\n    page-break-inside: avoid;\n  }\n  .auto-titulo {\n    font-family: Arial, sans-serif;\n    font-size: 10px;\n    font-weight: 700;\n    color: #1a1410;\n    letter-spacing: 0.5px;\n    text-transform: uppercase;\n    margin-bottom: 14px;\n    padding-bottom: 10px;\n    border-bottom: 1px solid #ede8dc;\n  }\n  .auto-field { display: flex; gap: 12px; margin-bottom: 8px; font-size: 12px; }\n  .auto-label {\n    font-family: Arial, sans-serif;\n    font-size: 9px;\n    font-weight: 700;\n    color: #8c8779;\n    letter-spacing: 0.5px;\n    text-transform: uppercase;\n    flex-shrink: 0;\n    width: 160px;\n    padding-top: 2px;\n  }\n  .auto-content { color: #2a2520; flex: 1; }\n  .auto-precio { color: #b8922a; font-size: 14px; font-style: italic; font-weight: 600; flex: 1; }\n  .auto-p { margin-bottom: 8px; }\n\n  /* PASOS */\n  .paso-bloque {\n    background: #f5f0e8;\n    border-left: 2px solid #d4aa4a;\n    padding: 14px 18px;\n    margin-bottom: 10px;\n    font-size: 12px;\n    page-break-inside: avoid;\n  }\n\n  /* PRECIOS */\n  .precio-destacado {\n    background: #f5f0e8;\n    border: 1px solid #ede8dc;\n    border-left: 4px solid #b8922a;\n    padding: 32px 36px;\n    margin: 24px 0;\n    page-break-inside: avoid;\n  }\n  .precio-tipo { font-family: Arial, sans-serif; font-size: 8.5px; letter-spacing: 2px; text-transform: uppercase; color: #8c8779; margin-bottom: 10px; font-weight: 600; }\n  .precio-val { color: #b8922a; font-size: 36px; font-style: italic; font-weight: 300; line-height: 1; margin-bottom: 10px; }\n  .precio-desc { color: #8c8779; font-size: 11px; }\n\n  .precios-tres { display: flex; gap: 12px; margin: 24px 0; page-break-inside: avoid; }\n  .precio-card { flex: 1; border: 1px solid #ede8dc; padding: 20px 18px; background: #faf8f3; }\n  .precio-card.best { background: #f5f0e8; border-color: #b8922a; border-width: 2px; }\n  .precio-card.best .precio-tipo { color: #b8922a; }\n  .precio-card.best .precio-val-sm { color: #b8922a; }\n  .precio-val-sm { font-size: 18px; font-style: italic; color: #1a1410; margin: 8px 0; }\n  .precio-desc-sm { font-size: 10.5px; color: #8c8779; }\n\n  /* DESGLOSE */\n  .desglose { margin-top: 20px; border: 1px solid #ede8dc; page-break-inside: avoid; }\n  .desglose-titulo { font-family: Arial, sans-serif; font-size: 8.5px; letter-spacing: 2px; text-transform: uppercase; color: #8c8779; font-weight: 600; padding: 12px 20px; background: #f5f0e8; border-bottom: 1px solid #ede8dc; }\n  .desglose-fila { display: flex; justify-content: space-between; padding: 10px 20px; border-bottom: 1px solid #f5f0e8; font-size: 12px; color: #2a2520; }\n  .desglose-fila:last-child { border-bottom: none; }\n  .desglose-fila.incluido { color: #8c8779; font-style: italic; }\n\n  /* PIE */\n  .footer-pdf {\n    background: #f5f0e8;\n    border-top: 1px solid #ede8dc;\n    padding: 20px 56px;\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-top: 40px;\n    page-break-inside: avoid;\n  }\n  .footer-logo { color: #b8922a; font-size: 15px; font-style: italic; }\n  .footer-contacto { font-size: 10px; color: #8c8779; text-align: right; font-family: Arial, sans-serif; }\n  .footer-validez {\n    background: #ede8dc;\n    padding: 10px 56px;\n    font-family: Arial, sans-serif;\n    font-size: 9px;\n    color: #8c8779;\n    display: flex;\n    justify-content: space-between;\n    letter-spacing: 0.5px;\n  }\n`;\n\n// ── HTML COMPLETO ─────────────────────────────────────\nconst html = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Propuesta AutoFlow — ${p.empresa}</title>\n<style>${css}</style>\n</head>\n<body>\n\n<!-- ══ PORTADA ══ -->\n<div class=\"portada\">\n  <div class=\"logo-portada\">Auto<span style=\"font-style:normal;color:#d4aa4a\">Flow</span>\n    <span>Automatización inteligente para negocios</span>\n  </div>\n  <div class=\"portada-spacer\"></div>\n  <div class=\"portada-eyebrow\">Propuesta personalizada con IA</div>\n  <h1>Así es como <em>transformamos</em><br>${p.empresa}</h1>\n  <div class=\"portada-empresa\">Preparada exclusivamente para ${p.nombre} · ${p.sector}</div>\n  <div class=\"portada-meta\">\n    <div class=\"portada-meta-item\">\n      <div class=\"portada-meta-label\">Propuesta n.º</div>\n      <div class=\"portada-meta-val\">${p.num_propuesta}</div>\n    </div>\n    <div class=\"portada-meta-item\">\n      <div class=\"portada-meta-label\">Fecha</div>\n      <div class=\"portada-meta-val\">${p.fecha}</div>\n    </div>\n    <div class=\"portada-meta-item\">\n      <div class=\"portada-meta-label\">Complejidad</div>\n      <div class=\"portada-meta-val\">${p.complejidad}</div>\n    </div>\n    <div class=\"portada-meta-item\">\n      <div class=\"portada-meta-label\">Ahorro estimado</div>\n      <div class=\"portada-meta-val\" style=\"color:#d4aa4a\">${p.ahorro_estimado}</div>\n    </div>\n  </div>\n</div>\n\n<!-- ══ PÁGINAS INTERIORES ══ -->\n<div class=\"pagina-interior\">\n\n  <!-- Cabecera interior -->\n  <div class=\"header-interior\">\n    <div class=\"header-logo\">Auto<span style=\"font-style:normal\">Flow</span></div>\n    <div class=\"header-ref\">Confidencial · ${p.empresa}</div>\n  </div>\n\n  <!-- Banner cliente -->\n  <div class=\"banner-cliente\">\n    <div class=\"banner-cliente-label\">Preparada para</div>\n    <h2 style=\"font-family:Georgia,serif;font-size:22px;font-weight:300;color:#1a1410;border:none;padding:0;margin:0 0 4px;letter-spacing:-0.01em;text-transform:none\">${p.nombre} · ${p.empresa}</h2>\n    <div class=\"banner-cliente-sub\">${p.sector} · Equipo de ${p.equipo} personas · ~${p.volumen_mensual} gestiones/mes</div>\n  </div>\n\n  <!-- Métricas ROI -->\n  ${metricasROI}\n\n  <!-- Secciones del análisis IA -->\n  ${seccionesHTML}\n\n  <!-- Precios -->\n  <div class=\"seccion page-safe\">\n    <h2>Tu inversión y el retorno calculado</h2>\n    ${getPrecioHTML()}\n    ${desgloseHTML}\n  </div>\n\n  <!-- Footer -->\n  <div class=\"footer-pdf\">\n    <div class=\"footer-logo\">AutoFlow</div>\n    <div class=\"footer-contacto\">\n      automatizacionesmorente@gmail.com · +34 642 38 37 69<br>\n      Madrid, España · autoflow.es\n    </div>\n  </div>\n  <div class=\"footer-validez\">\n    <span>Exclusiva para ${p.empresa}</span>\n    <span>Validez: 30 días · Confidencial</span>\n  </div>\n\n</div>\n\n</body>\n</html>`;\n\nreturn [{ json: { html } }];\n"
      },
      "id": "b6c7169c-f0f2-4f5e-bbcf-178e0b854f9a",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chrome.browserless.io/pdf?token=2U25SLmCgQPWqAo65df45138ff6107b6e8f656ed1cfd81f4a",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "options",
              "value": "={ \"format\": \"A4\", \"printBackground\": true, \"margin\": { \"top\": \"0\", \"right\": \"0\", \"bottom\": \"0\", \"left\": \"0\" } }"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "bd4c31f5-ebe5-4eb0-bff2-af07266ea879",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        272
      ]
    },
    {
      "parameters": {
        "fromEmail": "automatizacionesmorente@gmail.com",
        "toEmail": "={{ $('Procesar y calcular presupuesto').first().json.EMAIL }}",
        "subject": "={{ 'Tu propuesta ' + $('Procesar y calcular presupuesto').first().json.NUM_PROPUESTA + ' — ' + $('Procesar y calcular presupuesto').first().json.EMPRESA }}",
        "html": "=<div style=\"font-family:Georgia,serif;max-width:600px;margin:0 auto;color:#1a1a1a;background:#ffffff\">\n  <!-- Header -->\n  <div style=\"background:#0d0d0d;padding:32px 40px;position:relative\">\n    <div style=\"position:absolute;top:0;left:0;right:0;height:2px;background:linear-gradient(to right,#b8922a,transparent)\"></div>\n    <p style=\"color:#d4aa4a;font-size:20px;font-style:italic;margin:0\">AutoFlow</p>\n    <p style=\"color:rgba(255,255,255,0.25);font-size:9px;letter-spacing:2px;text-transform:uppercase;margin:6px 0 0;font-family:Arial,sans-serif\">Automatización inteligente para negocios</p>\n  </div>\n  <!-- Cuerpo -->\n  <div style=\"padding:40px;background:#faf8f3;border:1px solid #e8e0d0;border-top:none\">\n    <p style=\"font-size:15px;margin:0 0 22px;color:#1a1410\">Hola {{ $('Procesar y calcular presupuesto').first().json.NOMBRE }},</p>\n    <p style=\"font-size:13.5px;line-height:1.85;color:#3d3830;margin:0 0 16px\">Tu propuesta <strong style=\"color:#1a1410\">{{ $('Procesar y calcular presupuesto').first().json.NUM_PROPUESTA }}</strong> para <strong style=\"color:#1a1410\">{{ $('Procesar y calcular presupuesto').first().json.EMPRESA }}</strong> ya está lista. La encontrarás adjunta a este email en formato PDF.</p>\n    <p style=\"font-size:13.5px;line-height:1.85;color:#3d3830;margin:0 0 28px\">Hemos analizado tu situación en el sector <strong>{{ $('Procesar y calcular presupuesto').first().json.SECTOR }}</strong> y diseñado las automatizaciones con mayor impacto real para tu negocio. En el documento encontrarás el diagnóstico completo, las soluciones recomendadas con precios desglosados y el cálculo de retorno de inversión con tus datos.</p>\n    <!-- Caja dorada -->\n    <div style=\"background:#0d0d0d;padding:24px 28px;margin:0 0 28px;position:relative\">\n      <div style=\"position:absolute;top:0;left:0;right:0;height:1px;background:linear-gradient(to right,#b8922a,transparent)\"></div>\n      <p style=\"color:rgba(255,255,255,0.3);font-family:Arial,sans-serif;font-size:9px;letter-spacing:2px;text-transform:uppercase;margin:0 0 8px;font-weight:600\">Ahorro anual estimado para {{ $('Procesar y calcular presupuesto').first().json.EMPRESA }}</p>\n      <p style=\"color:#d4aa4a;font-size:28px;font-style:italic;margin:0 0 8px;line-height:1\">{{ $('Procesar y calcular presupuesto').first().json.AHORRO_ESTIMADO }}</p>\n      <p style=\"color:rgba(255,255,255,0.25);font-size:11px;margin:0\">Recuperación de inversión estimada en {{ $('Procesar y calcular presupuesto').first().json.ROI_MESES }}</p>\n    </div>\n    <p style=\"font-size:13.5px;line-height:1.85;color:#3d3830;margin:0 0 28px\">Si tienes cualquier pregunta sobre la propuesta, responde directamente a este email o escríbenos por WhatsApp. Estamos disponibles para una llamada de 15 minutos esta semana.</p>\n    <p style=\"font-size:12px;color:#8c8779;margin:0;line-height:1.75\">Un saludo,<br><strong style=\"color:#1a1410\">El equipo de AutoFlow</strong><br>automatizacionesmorente@gmail.com · +34 642 38 37 69</p>\n  </div>\n  <!-- Footer -->\n  <div style=\"padding:14px 40px;background:#f2ede3;border:1px solid #e8e0d0;border-top:none;display:flex;justify-content:space-between\">\n    <p style=\"font-size:9px;color:#8c8779;margin:0\">Propuesta {{ $('Procesar y calcular presupuesto').first().json.NUM_PROPUESTA }} · Confidencial · Validez 30 días</p>\n    <p style=\"font-size:9px;color:#8c8779;margin:0\">autoflow.es</p>\n  </div>\n</div>",
        "options": {
          "attachments": "data"
        }
      },
      "id": "21c8804a-c2aa-4ad7-b531-fb0701c53829",
      "name": "Enviar PDF por email al cliente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        112
      ],
      "webhookId": "e8c07fea-7e09-454d-bb46-75f9756d8944",
      "credentials": {
        "smtp": {
          "id": "jpgHirAjRJ9A0sWZ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $('Procesar y calcular presupuesto').first().json;\n\nconst msg = `Hola ${d.NOMBRE} 👋\n\nTu propuesta *${d.NUM_PROPUESTA}* para *${d.EMPRESA}* ya está lista.\n\nTe la acabamos de enviar al email *${d.EMAIL}* en formato PDF.\n\n📋 *Resumen de tu caso:*\n• Sector: ${d.SECTOR}\n• Volumen: ~${d.VOLUMEN_MENSUAL} gestiones/mes\n• Procesos: ${d.SERVICIOS}\n\n💰 *Tu estimación:*\n• Ahorro anual estimado: *${d.AHORRO_ESTIMADO}*\n• Retorno de inversión en: *${d.ROI_MESES}*\n• Horas liberadas al mes: *${d.HORAS_LIBERADAS_MES}*\n\nAbre el PDF para ver las automatizaciones recomendadas, el desglose de precios y el plan de implementación paso a paso.\n\nSi tienes alguna pregunta o quieres avanzar, responde aquí directamente. Estamos disponibles esta semana para una llamada de 15 min.\n\n*AutoFlow* 🚀`;\n\nreturn [{ json: { mensaje: msg, telefono: d.TELEFONO } }];\n"
      },
      "id": "cb88d6cc-280e-4e55-8dc5-d3eca83bf7af",
      "name": "Preparar WhatsApp cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultramsg.com/instance147348/messages/chat",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "xv1gvdp8gg24m04v"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.telefono }}"
            },
            {
              "name": "body",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90cc6069-9744-4cb1-a361-e1dbe8321f02",
      "name": "WhatsApp al cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $('Procesar y calcular presupuesto').first().json;\n\nconst msg = `🔥 *NUEVA PROPUESTA ENVIADA — AutoFlow*\n\n📋 *Ref:* ${d.NUM_PROPUESTA}\n👤 *${d.NOMBRE}* | ${d.EMPRESA}\n📂 ${d.SECTOR} | Equipo: ${d.EQUIPO}\n📧 ${d.EMAIL}\n📱 ${d.TELEFONO}\n\n📊 *Proyecto:*\n• Volumen: ~${d.VOLUMEN_MENSUAL} gest./mes\n• Procesos: ${d.SERVICIOS}\n• Complejidad: ${d.COMPLEJIDAD}\n• Herramientas: ${d.HERRAMIENTAS || 'No especificadas'}\n\n💰 *Precios calculados:*\n• Pago único: ${d.PRECIO_UNICO}\n• Mixto: ${d.PRECIO_INICIAL} + ${d.PRECIO_MENSUAL_MIXTO}\n• Mensual: ${d.PRECIO_SOLO_MENSUAL}\n• Ahorro est.: ${d.AHORRO_ESTIMADO}\n• ROI: ${d.ROI_MESES}\n• Pref. pago: ${d.MODELO_PAGO}\n\n🗓 Disponibilidad: ${d.DISPONIBILIDAD || 'No indicada'}\n⏰ Solicitud: ${d.FECHA_SOLICITUD}\n\n✅ PDF + WhatsApp enviados al cliente`;\n\nreturn [{ json: { mensaje: msg } }];\n"
      },
      "id": "91880255-e1a5-4783-8731-f15e41f9caee",
      "name": "Preparar notificacion interna",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultramsg.com/instance147348/messages/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "xv1gvdp8gg24m04v"
            },
            {
              "name": "to",
              "value": "642383769"
            },
            {
              "name": "body",
              "value": "={{ $json.mensaje }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dada0bad-b140-4875-bbfe-987f5a7c0074",
      "name": "WhatsApp notificacion a ti",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        112
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1P-NYvDHs1yznDsUUvhkzoS7y1haNCu-G9nLC_JviWwM",
          "mode": "list",
          "cachedResultName": "AutoFlow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-NYvDHs1yznDsUUvhkzoS7y1haNCu-G9nLC_JviWwM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P-NYvDHs1yznDsUUvhkzoS7y1haNCu-G9nLC_JviWwM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $('Procesar y calcular presupuesto').first().json.EMAIL }}",
            "PDF_ENVIADO": "SI",
            "ESTADO": "PDF enviado"
          },
          "matchingColumns": [
            "EMAIL"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "6d1e182d-453c-4749-9c8a-96c2ea12619e",
      "name": "Actualizar estado en Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1456,
        272
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir formulario web": {
      "main": [
        [
          {
            "node": "Responder OK al navegador",
            "type": "main",
            "index": 0
          },
          {
            "node": "Procesar y calcular presupuesto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar y calcular presupuesto": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Preparar datos para PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos para PDF": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Enviar PDF por email al cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar WhatsApp cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar PDF por email al cliente": {
      "main": [
        [
          {
            "node": "Preparar notificacion interna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar WhatsApp cliente": {
      "main": [
        [
          {
            "node": "WhatsApp al cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp al cliente": {
      "main": [
        [
          {
            "node": "Actualizar estado en Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar notificacion interna": {
      "main": [
        [
          {
            "node": "WhatsApp notificacion a ti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5ae3a0cc-384e-45fe-8a17-d7e012ce9a9b",
  "meta": {
    "instanceId": "7200a10b579840667ee30ede1a205653dad12fa8e0eafc997541bdf2aeaef236"
  },
  "id": "osZxacp3oQwuT6OU",
  "tags": [
    {
      "updatedAt": "2026-02-23T18:45:48.710Z",
      "createdAt": "2026-02-23T18:45:48.710Z",
      "id": "rTIGRrfbSbLPsC7J",
      "name": "AutoFlow"
    }
  ]
}