LEADS.json
{
  "name": "LEADS copy",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const chatInput = $json[\"CHAT INPUT\"] || \"\";\n\nconst urlMatch = chatInput.match(/https:\\/\\/[a-zA-Z0-9-]+\\.ngrok-free\\.dev/);\n\nif (urlMatch) {\n  return [{\n    json: {\n      apiUrl: urlMatch[0],\n      hasUrl: true,\n      originalMessage: chatInput\n    }\n  }];\n} else {\n  return [{\n    json: {\n      apiUrl: \"https://arlena-unfavorite-unpropitiously.ngrok-free.dev\", // ← ESTA es tu URL real\n      hasUrl: false,\n      chatInput: chatInput\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        48
      ],
      "id": "ec500ff0-a7ab-431d-bb8f-6d6aaacd571a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres un experto en generación de leads B2B para automatizaciones con IA.\n\nTAREA:\n1. Usa la herramienta Google Sheets para leer TODOS los sectores ya procesados de la hoja \"Sectores_Procesados\"\n2. Analiza el mensaje del usuario: {{ $('Code in JavaScript').item.json.chatInput }}\n3. Identifica 1 SOLO sector con ALTO potencial para IA que NO esté en la lista procesada\n4. Si el usuario menciona ciudad, úsala. Si no, usa \"España\"\n\nResponde SOLO con este JSON exacto:\n{\n  \"sectors\": [\"un_solo_sector\"],\n  \"location\": \"ciudad\"\n}\n\nSectores potenciales para IA:\n- Psicologos\n- Clínicas dentales\n- Fisioterapia\n- Veterinarias\n- Despachos abogados\n- Arquitectos\n- Gestorías\n- Peluquerías\n- Barberías\n- Centros estética\n- Gimnasios\n- Yoga\n- Nutricionistas\n- Restaurantes\n- Cafeterías\n- Hoteles\n- Ópticas\n- Farmacias\n- Ortopedias\n- Agencias inmobiliarias\n- Agencias viajes\n\nIMPORTANTE: \n- Solo 1 sector en el array \"sectors\"\n- NO repetir sectores procesados\n- Solo JSON, sin explicaciones"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3152,
        48
      ],
      "id": "1938c9b8-bdeb-40df-a473-da29437f14a8",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "7ucHbTrjaHGZkBTZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lee DIRECTAMENTE el texto del input, tal como lo solicitas\nlet rawText = $input.first().json.content.parts[0].text;\n\n// Inicializa el objeto de salida\nlet outputObj = {\n  sector: \"\",\n  location: \"\",\n  limit: 20,\n  minRating: 4,\n  minReviews: 50,\n  searchQuery: \"\"\n};\n\ntry {\n  // Extrae el JSON real del texto (quitando ```json y espacios)\n  const jsonMatch = rawText.match(/```json\\s*({[\\s\\S]*?})\\s*```/);\n\n  if (jsonMatch && jsonMatch[1]) {\n    // Parsea el JSON extraído\n    const parsedJson = JSON.parse(jsonMatch[1]);\n\n    // Asigna los valores del JSON parseado al objeto de salida\n    outputObj.sector = parsedJson.sectors?.[0] || \"\";\n    outputObj.location = parsedJson.location || \"\";\n    outputObj.limit = parseInt(parsedJson.limit) || 40;\n    outputObj.minRating = parseInt(parsedJson.minRating) || 2;\n    outputObj.minReviews = parseInt(parsedJson.minReviews) || 1;\n\n    // Construye la searchQuery\n    outputObj.searchQuery = `${outputObj.sector} ${outputObj.location}`.trim();\n  }\n\n} catch (e) {\n  console.log(\"Error al procesar el texto:\", e.message);\n}\n\n// Devuelve el objeto de salida como un array con un solo elemento\nreturn [outputObj];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        48
      ],
      "id": "90e5ab3a-b7e5-499e-9e08-4a722f483248",
      "name": "Estructura URL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2736,
        48
      ],
      "id": "14724b2b-ed5a-4976-ac68-2523f203edb2",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk",
          "mode": "list",
          "cachedResultName": "Base de Datos (leads)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1203493066,
          "mode": "list",
          "cachedResultName": "Setores_Procesados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit#gid=1203493066"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sector ": "={{ $json.sector }}",
            "Location": "={{ $json.location }}",
            "Fecha": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sector ",
              "displayName": "Sector ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2608,
        48
      ],
      "id": "7459a6d5-e376-4651-be20-dfd26eabd71b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iwQRYfwyMk5HMp72",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// La respuesta de la API viene directamente en $json\nconst raw = $json;\n\n// Extraer los leads de la respuesta\nconst leads = raw.leads || [];\n\n// Obtener el sector del nodo \"Estructura URL\"\nconst sector = $('Estructura URL').first().json.sector || \"\";\n\n// Mapear cada lead a la estructura limpia\nconst results = leads.map(lead => ({\n  json: {\n    name: lead.name || \"\",\n    website: lead.website || null,\n    address: lead.address || \"\",\n    email: \"\", // Se buscará después\n    phone: lead.phone || \"\",\n    rating: lead.ratingScore || \"\",\n    reviews: lead.reviewCount || \"\",\n    category: lead.category || sector,\n    sector: sector\n  }\n}));\n\n// Filtrar solo los leads que tienen website\nreturn results.filter(item => item.json.website);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        48
      ],
      "id": "335cf77e-1e6f-4048-ba44-c173d87c21c9",
      "name": "Parsear respuesta de tu api"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d84fce9-144c-4ab6-acf6-2a5724da9d6a",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b87b018a-3e7b-47b6-9333-99e34641d033",
              "leftValue": "={{ $json.website }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "111cd60b-168f-460d-81f1-1a020f0301f0",
              "leftValue": "={{ $json.website }}",
              "rightValue": "static",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "1f671b36-4a4e-43f2-82d9-b4d9b4894a62",
              "leftValue": "={{ $json.website }}",
              "rightValue": "ggpht",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ffdcbe59-3fb0-49de-8e02-c40abaf5bee0",
              "leftValue": "={{ $json.website }}",
              "rightValue": "treatwell",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "38080047-d17d-4b6b-a2dc-3f454343c468",
              "leftValue": "={{ $json.website }}",
              "rightValue": "books",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "3e19a132-14b4-40d5-b0c4-dd080730f40c",
              "leftValue": "={{ $json.website }}",
              "rightValue": "koibox",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "acf354e3-5434-412e-908a-4660549f431f",
              "leftValue": "={{ $json.website }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "916c24f5-34ae-474d-9240-96acc9da90eb",
              "leftValue": "={{ $json.website }}",
              "rightValue": "barberosrd",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "da56686d-ee7f-490b-b172-47126aad1354",
              "leftValue": "={{ $json.website }}",
              "rightValue": "xn",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2176,
        48
      ],
      "id": "2997f6ff-bab7-498f-8657-8d3623a5a0f9",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -2048,
        48
      ],
      "id": "29c81050-2545-4ec2-9b02-9c67292714c4",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1904,
        48
      ],
      "id": "5a05ea2f-3eaa-4be8-9985-b1a6591d7726",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/*\n  OBJETIVO:\n  1. Recibir el objeto \"$json\" fusionado (lead + html).\n  2. Extraer el email del HTML (que está en $json.data).\n  3. Devolver el objeto del lead completo con el email encontrado.\n*/\n\n// Usamos un try...catch para que un error en una web no pare todo el bucle\ntry {\n  \n  // 1. El HTML de la página web (viene de HTTP Request1)\n  const html = $json.data || \"\";\n\n  // 2. Los datos ORIGINALES del lead (vienen de \"Loop Over Items\")\n  // ¡Ahora están todos en $json gracias al Merge!\n  const leadData = $json;\n\n  // 3. Extraer todos los emails del HTML\n  const emailRegex = /\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b/gi;\n  const allEmails = [...new Set(html.match(emailRegex) || [])];\n\n  // 4. Filtrar emails no deseados (basura, genéricos, imágenes)\n  const validEmails = allEmails.filter(email => {\n    const lower = email.toLowerCase();\n    \n    // Lista de palabras a excluir\n    const excludeList = [\n      'google', 'example', 'sentry', 'wixpress', \n      'privacy', 'dominio', 'domain', 'cpanel', 'webmaster'\n    ];\n    \n    // Lista de terminaciones a excluir (ej. emails falsos en archivos de imagen)\n    const excludeEndings = ['.png', '.jpg', '.jpeg', '.gif', '.webp'];\n\n    const containsExcludedWord = excludeList.some(word => lower.includes(word));\n    const hasExcludedEnding = excludeEndings.some(ending => lower.endsWith(ending));\n\n    return !containsExcludedWord && !hasExcludedEnding;\n  });\n\n  // 5. Quedarse con el primer email válido, o un texto vacío si no hay\n  const email = validEmails[0] || \"\";\n\n  // 6. Devolver el objeto COMPLETO\n  //    Combinamos los datos originales de leadData con el email encontrado\n  return {\n    json: {\n      name: leadData.name || \"\",\n      website: leadData.website || \"\",\n      address: leadData.address || \"\",\n      email: email, // ¡Aquí va el email que acabamos de encontrar!\n      phone: leadData.phone || \"\",\n      rating: leadData.rating || \"\",\n      reviews: leadData.reviews || \"\",\n      category: leadData.category || \"\",\n      sector: leadData.sector || \"\"\n    }\n  };\n\n} catch (error) {\n  // SI ALGO FALLA:\n  // No lanzamos un error nuevo. Solo registramos el fallo en la consola\n  // y devolvemos el lead original sin email, para que el flujo continúe.\n  console.log(`Error procesando web: ${$json.website || 'URL desconocida'}. Error: ${error.message}`);\n  \n  return {\n    json: {\n      name: $json.name || \"\",\n      website: $json.website || \"\",\n      address: $json.address || \"\",\n      email: $json.email || \"\", // Devolvemos email vacío porque falló la extracción\n      phone: $json.phone || \"\",\n      rating: $json.rating || \"\",\n      reviews: $json.reviews || \"\",\n      category: $json.category || \"\",\n      sector: $json.sector || \"\"\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        80
      ],
      "id": "bb2bd5dd-48dd-4e12-812a-cbc1649d4e09",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e66d9f78-3db8-48ff-b95d-f846c2b42c61",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1520,
        -48
      ],
      "id": "8e2bae12-9abf-45f3-bdb7-498932c5d339",
      "name": "Filter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1344,
        -48
      ],
      "id": "a49ed3d9-f38b-4f82-aa7b-4950d0f46266",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk",
          "mode": "list",
          "cachedResultName": "Base de Datos (leads)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Base de datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Code in JavaScript1').item.json.name }}",
            "Teléfono ": "={{ $('Code in JavaScript1').item.json.phone }}",
            "Email ": "={{ $('Code in JavaScript1').item.json.email }}",
            "Rating": "={{ $('Code in JavaScript1').item.json.rating }}",
            "Sector": "={{ $('Code in JavaScript1').item.json.sector }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono ",
              "displayName": "Teléfono ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sector",
              "displayName": "Sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1184,
        -48
      ],
      "id": "babdd44e-cb24-4f44-923b-963033b16b4a",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iwQRYfwyMk5HMp72",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk",
          "mode": "list",
          "cachedResultName": "Base de Datos (leads)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1203493066,
          "mode": "list",
          "cachedResultName": "Setores_Procesados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit#gid=1203493066"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Sector "
            },
            {
              "lookupColumn": "Location"
            },
            {
              "lookupColumn": "Fecha"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -3088,
        192
      ],
      "id": "815af662-6d91-445a-8dea-fb8c9ef4c0f5",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iwQRYfwyMk5HMp72",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Code in JavaScript').item.json.apiUrl }}\\api\\scrape",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Estructura URL').item.json.searchQuery }}"
            },
            {
              "name": "limit",
              "value": "={{ $('Estructura URL').item.json.limit }}"
            },
            {
              "name": "minRating",
              "value": "={{ $('Estructura URL').item.json.minRating }}"
            },
            {
              "name": "minReviews",
              "value": "={{ $('Estructura URL').item.json.minReviews }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2464,
        48
      ],
      "id": "d159a939-0bf3-461e-9078-2cad543b3fc5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        128
      ],
      "id": "aa288ea5-5a05-4845-a020-c788070afadb",
      "name": "HTTP Request1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1408,
        80
      ],
      "id": "5be1ebde-3b4e-4606-9bbd-078b5205c1e1",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3776,
        48
      ],
      "id": "f19e02d9-8d32-4954-81e3-2e2071a2de49",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk",
          "mode": "list",
          "cachedResultName": "Base de Datos (leads)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2136003969,
          "mode": "list",
          "cachedResultName": "Hoja 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit#gid=2136003969"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ESTADO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3632,
        48
      ],
      "id": "4f655b90-3d6f-44b6-8769-5946f33f4cf9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iwQRYfwyMk5HMp72",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -3472,
        48
      ],
      "id": "bba9f99d-5dee-48d1-bc11-51be87bc2ac5",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk",
          "mode": "list",
          "cachedResultName": "Base de Datos (leads)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2136003969,
          "mode": "list",
          "cachedResultName": "Auto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11TL2GokXre_bReDCREQOAXBIyf3k8VERhIdHCGcV6fk/edit#gid=2136003969"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ESTADO": "Scrapped",
            "row_number": "={{ $('Limit').item.json.rowIndex }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "CHAT INPUT",
              "displayName": "CHAT INPUT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1696,
        -48
      ],
      "id": "9f264d78-a639-44e0-963d-6c55125bd37a",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iwQRYfwyMk5HMp72",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Estructura URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructura URL": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear respuesta de tu api": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parsear respuesta de tu api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d8da652e-bcc4-4af6-9b6f-0fa692c8ec3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "928b8373f575f82da7fa0c018d93270d5005b94661dc47cdcc43305861f1c5f3"
  },
  "id": "75hWFUztbAQHqfOb",
  "tags": []
}