Mensaje inicial + Google Calendar.json
{
  "name": "Mensaje inicial + Google Calendar",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultramsg.com/instance147348/messages/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.TELEFONO }}"
            },
            {
              "name": "body",
              "value": "={{ $('Code in JavaScript').item.json.mensaje_whatsapp }}\n\n"
            },
            {
              "name": "token",
              "value": "xv1gvdp8gg24m04v"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        48
      ],
      "id": "0b7352bf-bb27-48b0-ab24-c5eef3ad9580",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19f2dd3f-3a88-4e27-a4d2-9ecf53de089b",
              "leftValue": "={{ String($json.TELEFONO) }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        80
      ],
      "id": "aff95ab1-2edc-46d0-8bfe-ad218486426d",
      "name": "DatosDelCliente"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU",
          "mode": "list",
          "cachedResultName": "Weedestiny",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 699149279,
          "mode": "list",
          "cachedResultName": "Citas_Activas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit#gid=699149279"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONO": "={{ $json.TELEFONO }}",
            "NOMBRE": "={{ $json['NOMBRE COMPLETO'] }}",
            "CLUB": "={{ $json.CLUB }}",
            "FECHA_CITA": "={{ $json.FECHA_CITA }}",
            "HORA": "={{ $json.HORA }}",
            "EVENT_ID": "=",
            "CORREO": "={{ $json.CORREO }}",
            "N_PERSONAS": "={{ $json['Nº PERSONAS'] }}",
            "IDIOMA": "={{ $json.IDIOMA }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CLUB",
              "displayName": "CLUB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA_CITA",
              "displayName": "FECHA_CITA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEMP_FECHA",
              "displayName": "TEMP_FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEMP_HORA",
              "displayName": "TEMP_HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "N_PERSONAS",
              "displayName": "N_PERSONAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IDIOMA",
              "displayName": "IDIOMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EVENT_ID",
              "displayName": "EVENT_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "REMINDER_2H_ENVIADO",
              "displayName": "REMINDER_2H_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REMINDER_48H_ENVIADO",
              "displayName": "REMINDER_48H_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FEEDBACK_ENVIADO",
              "displayName": "FEEDBACK_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        48
      ],
      "id": "4b6118f0-32a0-4a4d-a185-5e79ee96a3a8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Función para convertir número de Excel a fecha\nfunction excelDateToJSDate(excelDate) {\n  const excelEpoch = new Date(1899, 11, 30);\n  const jsDate = new Date(excelEpoch.getTime() + excelDate * 86400000);\n  return jsDate;\n}\n\n// Función para formatear fecha DD/MM/YYYY\nfunction formatDate(date) {\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  return day + '/' + month + '/' + year;\n}\n\nconst results = $input.all().map(item => {\n  const json = item.json;\n\n  // PROCESAR TELEFONO CON PREFIJO\n  const prefijoRaw = json.PREFIJO || '';\n  const telefonoRaw = json.TELEFONO || '';\n  \n  const prefijo = prefijoRaw.toString().replace(/\\s+/g, '').replace(/[^\\d+]/g, '');\n  const telefono = telefonoRaw.toString().replace(/\\s+/g, '').replace(/[^\\d]/g, '');\n  \n  let telefonoCompleto = prefijo + telefono;\n  \n  if (!telefonoCompleto.startsWith('+')) {\n    telefonoCompleto = '+' + telefonoCompleto;\n  }\n\n  // OBTENER Y PROCESAR FECHA\n  let fechaCitaStr = '';\n  const fechaRaw = json['CUANDO QUIERE VENIR AL CLUB'] || json['FECHA CITA'];\n  \n  if (fechaRaw) {\n    if (typeof fechaRaw === 'number') {\n      const fechaConvertida = excelDateToJSDate(fechaRaw);\n      fechaCitaStr = formatDate(fechaConvertida);\n    } else if (fechaRaw.toString().includes('/')) {\n      fechaCitaStr = fechaRaw.toString();\n    } else {\n      const numFecha = parseFloat(fechaRaw);\n      if (!isNaN(numFecha)) {\n        const fechaConvertida = excelDateToJSDate(numFecha);\n        fechaCitaStr = formatDate(fechaConvertida);\n      } else {\n        fechaCitaStr = fechaRaw.toString();\n      }\n    }\n  }\n\n  // OBTENER OTROS DATOS\n  const nombre = json['NOMBRE COMPLETO'] || 'Cliente';\n  const club = json['CLUB'] || '';\n  const idiomaRaw = json.IDIOMA || json.Idioma || json.idioma || '';\n  \n  // DEBUG: Log para ver qué idioma viene\n  console.log('IDIOMA RECIBIDO:', idiomaRaw);\n  \n  let horarios = json.HORARIOS || json.Horarios || json.HORARIO || json.horarios || '';\n  \n  // DETECCIÓN DE IDIOMA MEJORADA\n  const idiomaLower = idiomaRaw.toString().toLowerCase().trim();\n  \n  const esIngles = idiomaLower === 'en' ||\n                   idiomaLower === 'english' ||\n                   idiomaLower === 'ingles' ||\n                   idiomaLower === 'inglés' ||\n                   idiomaLower.includes('english') ||\n                   idiomaLower.includes('ingles') ||\n                   idiomaLower.includes('inglés');\n  \n  console.log('¿Es inglés?:', esIngles);\n\n  // TRADUCIR HORARIOS SI ES INGLÉS\n  if (esIngles && horarios) {\n    horarios = horarios\n      .replace(/Cerrado/gi, 'Closed')\n      .replace(/Lunes/gi, 'Monday')\n      .replace(/Martes/gi, 'Tuesday')\n      .replace(/Miércoles/gi, 'Wednesday')\n      .replace(/Jueves/gi, 'Thursday')\n      .replace(/Viernes/gi, 'Friday')\n      .replace(/Sábado/gi, 'Saturday')\n      .replace(/Domingo/gi, 'Sunday')\n      .replace(/Sáb/gi, 'Sat')\n      .replace(/Dom/gi, 'Sun')\n      .replace(/Lun/gi, 'Mon')\n      .replace(/Mar/gi, 'Tue')\n      .replace(/Mié/gi, 'Wed')\n      .replace(/Jue/gi, 'Thu')\n      .replace(/Vie/gi, 'Fri')\n      .replace(/L–V/gi, 'Mon–Fri')\n      .replace(/L-V/gi, 'Mon-Fri');\n  }\n\n  // LOGICA DE FECHAS\n  let referenciaTiempo = '';\n  \n  if (fechaCitaStr) {\n    const partes = fechaCitaStr.split('/');\n    const fechaCita = new Date(partes[2], partes[1] - 1, partes[0]); \n    \n    const hoy = new Date();\n    hoy.setHours(0,0,0,0);\n    \n    const diffTime = fechaCita - hoy;\n    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); \n\n    if (esIngles) {\n      if (diffDays === 0) referenciaTiempo = 'today';\n      else if (diffDays === 1) referenciaTiempo = 'tomorrow';\n      else referenciaTiempo = 'on ' + fechaCitaStr;\n    } else {\n      if (diffDays === 0) referenciaTiempo = 'hoy';\n      else if (diffDays === 1) referenciaTiempo = 'mañana';\n      else referenciaTiempo = 'el día ' + fechaCitaStr;\n    }\n  } else {\n    referenciaTiempo = esIngles ? 'coming soon' : 'próximamente';\n  }\n\n  // CONSTRUIR MENSAJE\n  let mensajeFinal = '';\n\n  if (esIngles) {\n    mensajeFinal = 'Hello *' + nombre + '*! 👋\\n\\n' +\n    'You have a reservation for *' + club + '* ' + referenciaTiempo + '.\\n\\n' +\n    '📅 *Date:* ' + fechaCitaStr + '\\n' +\n    '📍 *Club:* ' + club + '\\n\\n' +\n    '*Could you confirm what time you would like to go?*\\n\\n' +\n    'We have sent you everything by email. Don\\'t forget to bring your ID or passport.\\n' +\n    'If you need help, I\\'m here via WhatsApp.';\n    \n    if (horarios && horarios.trim() !== '') {\n      mensajeFinal += '\\n\\n----------------\\n🕒 *Opening Hours:*\\n' + horarios;\n    }\n  } else {\n    mensajeFinal = '¡Hola *' + nombre + '*! 👋\\n\\n' +\n    'Tienes una reserva para ir a *' + club + '* ' + referenciaTiempo + '.\\n\\n' +\n    '📅 *Fecha:* ' + fechaCitaStr + '\\n' +\n    '📍 *Club:* ' + club + '\\n\\n' +\n    '*¿Podrías confirmarme a qué hora te gustaría ir?*\\n\\n' +\n    'Te hemos enviado todo por email. No olvides llevar tu DNI o pasaporte.\\n' +\n    'Si necesitas ayuda, aquí me tienes.';\n    \n    if (horarios && horarios.trim() !== '') {\n      mensajeFinal += '\\n\\n----------------\\n🕒 *Horarios:*\\n' + horarios;\n    }\n  }\n\n  return {\n    json: {\n      ...json,\n      TELEFONO: telefonoCompleto,\n      FECHA_CITA: fechaCitaStr,\n      mensaje_whatsapp: mensajeFinal,\n      idioma_detectado: esIngles ? 'inglés' : 'español'\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        48
      ],
      "id": "25e641f4-b5d3-49c5-8ae7-010b7a4bd29a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU",
          "mode": "list",
          "cachedResultName": "Weedestiny",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1770238049,
          "mode": "list",
          "cachedResultName": "Base de datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit#gid=1770238049"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "CLUB",
              "lookupValue": "={{ $json.CLUB }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "eb376cfc-beb1-49f4-9dc6-e8a69f64ae55",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        176,
        48
      ],
      "id": "60752504-61ad-4072-ae66-e4baed2fe672",
      "name": "Merge"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU",
          "mode": "list",
          "cachedResultName": "Weedestiny",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        80
      ],
      "id": "91b23588-5928-4843-989f-29a7b623890a",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "o9Ezno5CaJ7Fjj99",
          "name": "Google Sheets Trigger account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "DatosDelCliente": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "DatosDelCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9de7864a-069c-403b-8aae-d493b765cf2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7200a10b579840667ee30ede1a205653dad12fa8e0eafc997541bdf2aeaef236"
  },
  "id": "oRRwBcgZqMDxbzdG",
  "tags": []
}