Weedestiny - BOT.json
{
  "name": "Weedestiny - BOT copy",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Procesar todos los items\nconst processedItems = items.map(item => {\n  let respuestaAgente = item.json.output || \"\";\n  \n  // Intentar parsear el JSON\n  let mensajeFinal = respuestaAgente;\n  \n  try {\n    // Buscar el JSON en la respuesta\n    const jsonMatch = respuestaAgente.match(/\\{[\\s\\S]*\"mensajeCliente\"[\\s\\S]*\\}/);\n    \n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      mensajeFinal = parsed.mensajeCliente || respuestaAgente;\n    }\n  } catch (error) {\n    // Si falla, usar texto completo\n  }\n  \n  // Limpiar el mensaje\n  mensajeFinal = mensajeFinal\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\"/g, '\"')\n    .replace(/<[^>]*>/g, '')\n    .trim();\n  \n  return {\n    json: {\n      mensajeLimpio: mensajeFinal,\n      telefono: item.json.TELEFONO\n    }\n  };\n});\n\n// Devolver SOLO el primer item\nreturn processedItems[0];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        816
      ],
      "id": "ae4eb187-aa68-4a29-b321-1b08fdb029b9",
      "name": "Limpiamos el texto"
    },
    {
      "parameters": {
        "content": "## 📤 Envío de respuesta\n\nAquí simplemente se envía la respuesta. 📨📱\n",
        "height": 812,
        "width": 856,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1664,
        640
      ],
      "id": "bcde3941-3f9c-431b-af03-0157f87090f4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultramsg.com/instance147348/messages/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"token\": \"xv1gvdp8gg24m04v\",\n    \"to\": $('Code in JavaScript2').first().json.body.data.from,\n    \"body\": $json.mensajeLimpio\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        816
      ],
      "id": "52c67410-bd67-4a33-9f85-5ccd988801ee",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b07077dc-5641-4175-8dc1-faf1f795c679",
              "name": "audio",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "cbdb98fd-d068-4e98-863c-1a2076eb602c",
              "name": "mensaje",
              "value": "={{ $('Code in JavaScript2').item.json.body.data.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        448
      ],
      "id": "34a232d4-a76c-4090-89a9-57021ffb7418",
      "name": "Mapeo de mensaje1"
    },
    {
      "parameters": {
        "content": "## 🎙️ Conversión de audio a texto\n\nAquí el audio se convierte: el **Base64** del audio se transforma en un archivo y se descarga en **n8n**. Entonces, **n8n** tiene acceso al archivo y es capaz (mediante un nodo de **Transcribe Recording** de **OpenAI**) de transcribir ese audio. 🧾🎙️\n\n➡️ *Pasar de Audio a Texto*\n",
        "height": 584,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "6647c308-51a2-4a86-955c-d50f6489ff9d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## ✨ Aquí ocurre la magia\n\nEl agente interpreta la información, accede\na sus herramientas (base de datos **vectorial** y\n**Calendar** en este caso) y devuelve una información. 🧠📚📅\n",
        "height": 808,
        "width": 1608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "id": "e46b0b1f-ef5d-43fa-8f1f-5e352cdf39b7",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 🧠 Identificación del formato\n\nAhora lo que hacemos es identificar si la información recibida viene en forma de texto o audio. 📝📉\n",
        "height": 580,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        0
      ],
      "id": "cedd4f98-932f-4306-a368-c342b5bd1bc3",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## ⚙️ Configuración inicial\n\nPrimero configuramos la entrada de información y seteamos ciertos campos que necesitaremos más adelante. 🛠️🗃️\n",
        "height": 580,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3471fd7f-744e-48d0-b89e-c1fa6691b51b",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ab83bb8-0010-4684-ae19-79e992cb39ea",
              "name": "body.data.message._data.id.remote",
              "value": "={{ $json.body.data.message._data.id.remote }}",
              "type": "string"
            },
            {
              "id": "26e6f1fb-f66d-4080-a01e-9e889cb2156e",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "62738a51-4284-40b5-a761-0dd788569ab6",
              "name": "text",
              "value": "={{ $json.body.data.message.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        432
      ],
      "id": "df13032b-e17a-41c1-9c97-00e0dc514869",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1200,
        224
      ],
      "id": "d60cef23-7964-4a04-913b-ed1d13e0369d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "InVTotEOnyJ39ovi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.type }}",
                    "rightValue": "=ptt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be9dbcd5-0882-4ce9-9822-305865fae492"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0ec742-7f93-4ea1-af39-35d410da1c1a",
                    "leftValue": "={{ $json.body.data.type }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        512,
        432
      ],
      "id": "2bb382c8-0223-4103-bb31-b9cebecbd0ce",
      "name": "Switch1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        1264
      ],
      "id": "1dff14e2-6f3d-4671-874b-4898ea33adad",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "InVTotEOnyJ39ovi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ca8571fc-f0e4-4669-8dea-41f15501c7d6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        208
      ],
      "id": "10cd737c-fb34-46ad-baa6-53931b912067",
      "name": "Webhook1",
      "webhookId": "ca8571fc-f0e4-4669-8dea-41f15501c7d6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.MENSAJE_USUARIO }}",
        "options": {
          "systemMessage": "=Eres el concierge digital de {{ $json.CLUB }}, un club privado de élite en Madrid. Representas la imagen del club en cada mensaje. Tu trabajo es gestionar las citas de los socios con precisión, elegancia y calidez.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nDATOS DEL SOCIO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nNombre: {{ $json.NOMBRE }}\nTeléfono: {{ $json.TELEFONO }}\nCorreo: {{ $json.CORREO }}\nPersonas: {{ $json.N_PERSONAS }}\n\nESTADO DE LA CITA\nEstado: {{ $json.ESTADO }}\nFecha reservada: {{ $json.FECHA_CITA }}\nHora confirmada: {{ $json.HORA }}\nID de evento en calendario: {{ $json.EVENT_ID }}\nTiene cita activa: {{ $json.TIENE_CITA_ACTIVA }}\n\nINFORMACIÓN DEL CLUB\nClub: {{ $json.CLUB }}\nHorario: {{ $json.HORARIO }}\nDirección: {{ $json.DIRECCION }}\nDetalles: {{ $json.INFORMACION_ADICIONAL }}\nCalendar ID: {{ $json.CALENDAR_ID }}\n\nREFERENCIA TEMPORAL\nFecha y hora actuales: {{ $json.FECHA_ACTUAL_LEGIBLE }}\nZona horaria: Madrid (UTC+1) — Año 2026\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nMENSAJE DEL SOCIO\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n{{ $json.MENSAJE_USUARIO }}\n\nEste campo contiene el texto del mensaje del socio. Si proviene de un audio, ya ha sido transcrito automáticamente antes de llegar aquí — trátalo exactamente igual que un mensaje escrito.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCÓMO ACTUAR\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nIDIOMA\nDetecta el idioma en el que está escrito MENSAJE_USUARIO y responde íntegramente en ese idioma, sin mezclas. Si el mensaje está en inglés, responde en inglés. Si está en español, en español. El campo IDIOMA almacenado es solo referencia, lo que manda es el idioma del mensaje recibido.\n\nNOMBRE\nUsa el nombre del socio para dirigirte a él cuando sea un nombre real y reconocible. Si el valor del campo Nombre es un número, una letra suelta, un símbolo o claramente no es un nombre de persona, ignóralo completamente y construye la frase de forma natural sin sustituirlo por ninguna fórmula genérica.\n\nTONO Y PERSONALIZACIÓN\nEres formal y elegante, pero también humano y perceptivo. Lees entre líneas. Si el socio menciona algo personal — un partido, un compromiso, una celebración, una pérdida — lo reconoces de forma natural y breve antes de gestionar la cita. No lo ignores, pero tampoco lo conviertas en el centro del mensaje. Una frase cálida y genuina es suficiente. El socio debe sentir que hay una persona detrás, no un sistema automatizado. Nunca uses emojis ni tecnicismos. Frases claras, vocabulario cuidado, calidez sin exceso.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCUÁNDO USAR LAS HERRAMIENTAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nUsa las herramientas de calendario únicamente cuando se cumplan LAS DOS condiciones siguientes:\n1. Tienes fecha Y hora concretas y confirmadas por el socio\n2. Has verificado que el club está abierto ese día y a esa hora según {{ $json.HORARIO }}\n\nSi falta cualquiera de estas dos condiciones, no uses herramientas — pregunta lo que necesites primero.\n\nRESERVAR — ejecuta Crear Eventos1 cuando:\nEl socio indique fecha y hora concretas y el horario sea válido. Si solo indica el día sin hora, pregúntale la hora antes de crear. Si indica una hora fuera del horario del club, indícaselo con elegancia y propón una alternativa dentro del horario.\n\nMODIFICAR — ejecuta Actualizar Eventos1 cuando:\nEl socio quiera cambiar su cita. Si no indica la nueva fecha y hora completas, pregúntaselas antes de actuar. Solo si EVENT_ID tiene valor.\n\nCANCELAR — ejecuta Eliminar Eventos1 cuando:\nEl socio exprese claramente que quiere cancelar su cita.\n\nNO uses herramientas cuando:\nEl socio solo pregunta información general, pide horarios, o su mensaje es ambiguo. En ese caso responde con la información y pregunta lo que necesites.\n\nVALIDACIÓN DE HORARIO — OBLIGATORIA antes de cualquier operación:\nAntes de crear o modificar una cita, verifica siempre contra {{ $json.HORARIO }}:\n- Calcula el día de la semana de la fecha propuesta usando {{ $json.FECHA_ACTUAL_LEGIBLE }} como referencia\n- Comprueba si el club opera ese día y si la hora está dentro del rango\n- Si el club está cerrado ese día o la hora está fuera del rango, no ejecutes la herramienta — informa al socio con elegancia y sugiere el próximo día y hora disponibles\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nHERRAMIENTAS\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nCrear Eventos1\n— start: YYYY-MM-DDTHH:MM:SS+01:00\n— end: start + exactamente 1 hora\n— Minutos válidos: :00, :15, :30, :45\n— Inmediatamente después: ejecutar \"Actualizar estado cita\"\n\nActualizar Eventos1\n— Solo si EVENT_ID tiene valor\n— Mismo formato de fechas\n— Si devuelve \"Not Found\": usar Crear Eventos1\n— Inmediatamente después: ejecutar \"Actualizar estado cita\"\n\nEliminar Eventos1\n— No requiere parámetros adicionales\n— Si devuelve \"Not Found\": tratar como éxito\n— Inmediatamente después: ejecutar \"Actualizar estado cita\"\n\nActualizar estado cita\n— ESTADO: \"activa\" o \"cancelada\"\n— FECHA_CITA: formato YYYY-MM-DD\n— EVENT_ID: el ID devuelto por Crear Eventos1 o Actualizar Eventos1. En cancelaciones, usa el EVENT_ID del contexto.\n— Obligatoria después de CADA operación de calendario, sin excepción.\n— Nunca respondas al socio sin haber ejecutado primero esta herramienta.\n\nSECUENCIA SIEMPRE:\n1. Validar horario\n2. Herramienta de calendario (Crear / Actualizar / Eliminar)\n3. Actualizar estado cita\n4. Respuesta al socio\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nFORMATO DE RESPUESTA\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nResponde únicamente con este objeto JSON. Sin texto fuera de él, sin bloques de código, sin explicaciones adicionales:\n\n{\"mensajeCliente\": \"Tu respuesta completa al socio en el idioma detectado\", \"horaCita\": \"HH:MM si se ha confirmado hora, si no null\", \"fechaCita\": \"YYYY-MM-DD si es relevante, si no null\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        560,
        816
      ],
      "id": "b31d344f-ed90-4f7b-87c5-eed96a344275",
      "name": "AI Agent",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Cancela y elimina una cita existente del calendario de Google.\nREGLA DE ORO: No requiere parámetros. Usa automáticamente el 'Calendar ID' y el 'Event ID' del contexto del cliente.\nMANEJO DE ERRORES: Si la herramienta devuelve un error \"Not Found\", trátalo como un ÉXITO (significa que el evento ya no existe).\nPASO OBLIGATORIO: Siempre, sin excepción, después de usar esta herramienta (o si devuelve \"Not Found\"), debes ejecutar 'Actualizar estado cita' con el parámetro ESTADO=\"cancelada\" para que el Google Sheet quede actualizado. Informa al cliente que la cancelación ha sido procesada con éxito.\n\nRETRY ON FAIL",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.CALENDAR_ID }}",
          "mode": "id"
        },
        "eventId": "={{ $json.EVENT_ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1008,
        1248
      ],
      "id": "bb8c6e96-ae44-4eaf-acc8-483a3e6c924c",
      "name": "Eliminar Eventos1",
      "notesInFlow": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JWPifrwduc0gwljO",
          "name": "Google Calendar account"
        }
      },
      "notes": "Retry on fail\n"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Modifica la fecha y hora de una cita existente en el calendario.\nREGLA DE ORO: SOLO usar esta herramienta si 'EVENT_ID' NO es nulo y tiene un valor asignado. Si 'EVENT_ID' está vacío, usa la herramienta 'Crear Eventos1' en su lugar.\nPARÁMETROS REQUERIDOS:\n\nstart: Nueva fecha/hora de inicio (Formato ISO: YYYY-MM-DDTHH:MM:SS+01:00)\n\nend: Nueva fecha/hora de fin (Debe ser start + 1 hora exacta)\nEjemplo: start: \"2026-02-16T19:00:00+01:00\", end: \"2026-02-16T20:00:00+01:00\".\nTras ejecutar esto, es OBLIGATORIO usar 'Actualizar estado cita' para sincronizar el Google Sheet.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.CALENDAR_ID }}",
          "mode": "id"
        },
        "eventId": "={{ $json.EVENT_ID }}",
        "updateFields": {
          "description": "=CLIENTE: {{ $json.NOMBRE }}\nTELÉFONO: {{ $json.TELEFONO }}\nPERSONAS: {{ $json.N_PERSONAS }}\nCORREO: {{ $json.CORREO }}\nCLUB: {{ $json.CLUB }}",
          "end": "={{ $fromAI('end', '', 'string') }}",
          "start": "={{ $fromAI('start', '', 'string') }}",
          "summary": "={{ $json.CLUB }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        848,
        1248
      ],
      "id": "bd970f3c-50b5-4431-88a9-f155519d8cb6",
      "name": "Actualizar Eventos1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JWPifrwduc0gwljO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea una nueva cita en el calendario del club.\n\nPARÁMETROS REQUERIDOS:\n- start: Fecha y hora de inicio en formato ISO 8601 con zona horaria\n- end: Fecha y hora de fin (debe ser start + 1 hora exacta)\n\nFORMATO OBLIGATORIO: \"YYYY-MM-DDTHH:MM:SS+01:00\"\n\nEjemplos correctos:\nstart: \"2026-02-20T16:00:00+01:00\", end: \"2026-02-20T17:00:00+01:00\"\nstart: \"2026-03-15T10:30:00+01:00\", end: \"2026-03-15T11:30:00+01:00\"\n\nEl Calendar ID se toma automáticamente del contexto del cliente.",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.CALENDAR_ID }}",
          "mode": "id"
        },
        "start": "={{ $fromAI('start', ``, 'string') }}",
        "end": "={{ $fromAI('end', ``, 'string') }}",
        "additionalFields": {
          "description": "=CLIENTE: {{ $json.NOMBRE }}\nTELEFONO: {{ $json.TELEFONO }}\nPERSONAS: {{ $json.N_PERSONAS }}\nCORREO: {{ $json.CORREO }}\nCLUB: {{ $json.CLUB }}",
          "summary": "={{ $json.CLUB }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        1248
      ],
      "id": "c6956dbc-e3db-44b6-9d87-c5f9fbe39b9e",
      "name": "Crear Eventos1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JWPifrwduc0gwljO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.CALENDAR_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1152,
        1248
      ],
      "id": "3ec1f055-952b-460f-96ba-a2d7c7219c31",
      "name": "Get Many Events1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JWPifrwduc0gwljO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1280,
        1248
      ],
      "id": "048b9ff4-c460-49e1-aa6c-dd1a01114d0a",
      "name": "Calculadora1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Code in JavaScript2').item.json.body.data.from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        1264
      ],
      "id": "9689800d-1e29-4254-b3fd-f8538994e266",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "// Función para limpiar el número de teléfono\nfunction cleanPhoneNumber(phoneString) {\n  if (!phoneString || typeof phoneString !== 'string') {\n    return phoneString;\n  }\n  \n  // Eliminar todo excepto números\n  // Esto quita @, guiones, espacios, puntos, etc.\n  return phoneString.replace(/\\D/g, '');\n}\n\n// Procesar todos los items\nreturn $input.all().map(item => {\n  const webhookData = item.json;\n  \n  // Crear una copia del objeto para no mutar el original\n  const cleanedData = JSON.parse(JSON.stringify(webhookData));\n  \n  // Limpiar el número \"from\" (desde donde se envía)\n  if (cleanedData.body?.data?.from) {\n    cleanedData.body.data.from = cleanPhoneNumber(cleanedData.body.data.from);\n  }\n  \n  // Limpiar el número \"to\" (a donde se recibe) si existe\n  if (cleanedData.body?.data?.to) {\n    cleanedData.body.data.to = cleanPhoneNumber(cleanedData.body.data.to);\n  }\n  \n  // Limpiar el número en message._data.id.remote si existe\n  if (cleanedData.body?.data?.message?._data?.id?.remote) {\n    cleanedData.body.data.message._data.id.remote = cleanPhoneNumber(\n      cleanedData.body.data.message._data.id.remote\n    );\n  }\n  \n  return {\n    json: cleanedData\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        432
      ],
      "id": "78b9e6a2-de2e-4f0e-9630-e1ce7b52b629",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2128,
        432
      ],
      "id": "6fbbd66d-0fe1-4c03-8a59-e1060f727566",
      "name": "Merge1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU",
          "mode": "list",
          "cachedResultName": "Weedestiny",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 699149279,
          "mode": "list",
          "cachedResultName": "Citas_Activas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit#gid=699149279"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TELEFONO",
              "lookupValue": "={{ $('Code in JavaScript2').item.json.body.data.from }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        448
      ],
      "id": "e01044b9-22e7-477c-a0b4-69ce90bb86ef",
      "name": "Info cita1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU",
          "mode": "list",
          "cachedResultName": "Weedestiny",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1770238049,
          "mode": "list",
          "cachedResultName": "Base de datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit#gid=1770238049"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        320
      ],
      "id": "ebf50f09-c56b-4cd6-9020-f659a01e282e",
      "name": "Info Club1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Accedemos al nodo de mapeo\nconst dataMapeo = $('Mapeo de mensaje1').first().json;\n\n// Priorizamos el campo 'audio' (transcripción) y si está vacío usamos 'mensaje' (texto directo)\nconst mensajeFinal = dataMapeo.audio || dataMapeo.mensaje || \"\";\n\nreturn items.map(item => {\n  const data = item.json;\n  \n  // Extraer datos con valores por defecto seguros\n  const nombre = data.NOMBRE ? String(data.NOMBRE) : \"Cliente\";\n  const telefono = data.TELEFONO ? String(data.TELEFONO) : \"No disponible\";\n  const correo = data.CORREO ? String(data.CORREO) : \"No disponible\";\n  const nPersonas = data.N_PERSONAS ? Number(data.N_PERSONAS) : 1;\n  const idioma = data.IDIOMA ? String(data.IDIOMA) : \"español\";\n  \n  // Info de cita\n  const estado = data.ESTADO ? String(data.ESTADO) : \"sin cita\";\n  const fechaCita = data.FECHA_CITA ? String(data.FECHA_CITA) : \"Sin cita agendada\";\n  const hora = data.HORA ? String(data.HORA) : \"Sin hora definida\";\n  const eventId = data.EVENT_ID ? String(data.EVENT_ID) : null;\n  \n  // Info del club\n  const club = data.CLUB ? String(data.CLUB) : \"No especificado\";\n  const calendarId = data.CALENDAR_ID ? String(data.CALENDAR_ID) : \"No disponible\";\n  const horario = data.HORARIO ? String(data.HORARIO) : \"No disponible\";\n  const direccion = data.DIRECCION ? String(data.DIRECCION) : \"No disponible\";\n  \n  // Info adicional\n  let infoAdicional = \"No disponible\";\n  if (data[\"INFORMACION ADICIONAL \"]) {\n    infoAdicional = String(data[\"INFORMACION ADICIONAL \"]);\n  } else if (data.INFORMACION_ADICIONAL) {\n    infoAdicional = String(data.INFORMACION_ADICIONAL);\n  } else if (data[\"INFORMACIÓN ADICIONAL\"]) {\n    infoAdicional = String(data[\"INFORMACIÓN ADICIONAL\"]);\n  }\n  \n  // Formatear fecha\n  let fechaCitaFormateada = fechaCita;\n  if (fechaCita && fechaCita !== \"Sin cita agendada\" && fechaCita.includes('-')) {\n    const partes = fechaCita.split('-');\n    if (partes.length === 3) {\n      fechaCitaFormateada = partes[2] + '/' + partes[1] + '/' + partes[0];\n    }\n  }\n  \n  const tieneCitaActiva = (estado.toLowerCase() === \"activa\" || estado.toLowerCase() === \"active\") && eventId !== null;\n  const ahora = new Date();\n  const fechaActualLegible = ahora.toLocaleString('es-ES', {\n    timeZone: 'Europe/Madrid',\n    weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n    hour: '2-digit', minute: '2-digit'\n  });\n  \n  return {\n    json: {\n      NOMBRE: nombre,\n      TELEFONO: telefono,\n      CORREO: correo,\n      N_PERSONAS: nPersonas,\n      IDIOMA: idioma,\n      ESTADO: estado,\n      FECHA_CITA: fechaCitaFormateada,\n      HORA: hora,\n      EVENT_ID: eventId,\n      TIENE_CITA_ACTIVA: tieneCitaActiva,\n      CLUB: club,\n      CALENDAR_ID: calendarId,\n      HORARIO: horario,\n      DIRECCION: direccion,\n      INFORMACION_ADICIONAL: infoAdicional,\n      FECHA_ACTUAL: ahora.toISOString(),\n      FECHA_ACTUAL_LEGIBLE: fechaActualLegible,\n      MENSAJE_USUARIO: mensajeFinal // <--- Aquí capturamos audio o mensaje\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2336,
        432
      ],
      "id": "95267ce4-b6af-4fb2-8d69-ab7f574ebd19",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "content": "## 📝 Base de datos \nUtilizamos los nodos de Google Sheet para crear toda la información que necesita el agente de IA, la unimos con el nodo merge y la tocamos para que entre de la forma que pide el agente de IA con el nodo code\n\n\n",
        "height": 584,
        "width": 848,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1664,
        0
      ],
      "id": "d140c69d-68e0-477b-a895-51ee89e664b2",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Sincroniza y actualiza la base de datos (Google Sheet) con el estado real de la cita.\nPARÁMETROS REQUERIDOS:\n\nESTADO: Debe ser \"activa\" (si se creó o modificó una cita) o \"cancelada\" (si se eliminó).\n\nFECHA_CITA: La fecha de la cita en formato YYYY-MM-DD.\nIMPORTANTE: Esta herramienta debe ejecutarse SIEMPRE después de cualquier operación de calendario (Crear, Actualizar o Eliminar). Nunca respondas al cliente sin haber asegurado que el Sheet está actualizado con esta herramienta.",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU",
          "mode": "list",
          "cachedResultName": "Weedestiny",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 699149279,
          "mode": "list",
          "cachedResultName": "Citas_Activas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU/edit#gid=699149279"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TELEFONO": "={{ $('Code in JavaScript3').first().json.TELEFONO.toString() }}",
            "ESTADO": "={{ $fromAI('ESTADO', '', 'string') }}",
            "EVENT_ID": "={{ $fromAI('EVENT_ID', '', 'string') }}",
            "FECHA_CITA": "={{ $fromAI('FECHA_CITA', '', 'string') }}"
          },
          "matchingColumns": [
            "TELEFONO"
          ],
          "schema": [
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CLUB",
              "displayName": "CLUB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FECHA_CITA",
              "displayName": "FECHA_CITA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEMP_FECHA",
              "displayName": "TEMP_FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TEMP_HORA",
              "displayName": "TEMP_HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "N_PERSONAS",
              "displayName": "N_PERSONAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IDIOMA",
              "displayName": "IDIOMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EVENT_ID",
              "displayName": "EVENT_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REMINDER_2H_ENVIADO",
              "displayName": "REMINDER_2H_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "REMINDER_48H_ENVIADO",
              "displayName": "REMINDER_48H_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FEEDBACK_ENVIADO",
              "displayName": "FEEDBACK_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "FEEDBACK_GUARDADO",
              "displayName": "FEEDBACK_GUARDADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1408,
        1248
      ],
      "id": "f319c11d-8595-4cca-8e4c-b367793d4959",
      "name": "Actualizar estado cita",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.data.media }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        224
      ],
      "id": "2b742297-d9c4-46e5-9ff6-b7ab68a21b62",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Limpiamos el texto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapeo de mensaje1": {
      "main": [
        [
          {
            "node": "Info cita1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Mapeo de mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapeo de mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Limpiamos el texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Eventos1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Eventos1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear Eventos1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Many Events1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculadora1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info cita1": {
      "main": [
        [
          {
            "node": "Info Club1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Info Club1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar estado cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bc7099d0-0307-4b5f-a844-0f1cec660249",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7200a10b579840667ee30ede1a205653dad12fa8e0eafc997541bdf2aeaef236"
  },
  "id": "Lst78v0shiZo0Fn0",
  "tags": []
}