Weedestiny - Recordatorios.json
{
  "name": "Weedestiny - Recordatorios",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        272,
        288
      ],
      "id": "8477ee22-3bb8-4c6d-a5f6-b6734b76be55",
      "name": "Cada hora"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU",
          "mode": "list",
          "cachedResultName": "Weedestiny"
        },
        "sheetName": {
          "__rl": true,
          "value": 699149279,
          "mode": "list",
          "cachedResultName": "Citas_Activas"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        288
      ],
      "id": "1b83b9da-acec-4134-b7f7-21168b4c25a1",
      "name": "Leer Citas Activas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst results = [];\n\nconst MESES = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\nconst DIAS = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n\nfunction fechaLegible(year, month, day) {\n  const d = new Date(year, month - 1, day);\n  return `${DIAS[d.getDay()]} ${day} de ${MESES[month - 1]} de ${year}`;\n}\n\nfunction horaLegible(horaRaw) {\n  // Devuelve \"18:00\" o \"18:00h\" limpio\n  return horaRaw.trim();\n}\n\nfor (const item of $input.all()) {\n  const cita = item.json;\n\n  // Solo citas activas\n  if (!cita.ESTADO || cita.ESTADO.toLowerCase() !== 'activa') continue;\n\n  // Datos obligatorios\n  if (!cita.FECHA_CITA || !cita.HORA || !cita.TELEFONO) continue;\n\n  // Parsear fecha\n  const fechaRaw = String(cita.FECHA_CITA).trim();\n  const horaRaw = String(cita.HORA).trim();\n\n  let year, month, day;\n  if (fechaRaw.includes('-')) {\n    [year, month, day] = fechaRaw.split('-').map(Number);\n  } else if (fechaRaw.includes('/')) {\n    const parts = fechaRaw.split('/');\n    if (parts[0].length === 4) {\n      [year, month, day] = parts.map(Number);\n    } else {\n      [day, month, year] = parts.map(Number);\n    }\n  } else {\n    continue;\n  }\n\n  const [hours, minutes] = horaRaw.split(':').map(Number);\n  if (isNaN(year) || isNaN(month) || isNaN(day) || isNaN(hours)) continue;\n\n  // Fecha de la cita en Madrid (UTC+1)\n  const citaDate = new Date(Date.UTC(year, month - 1, day, hours - 1, minutes || 0));\n  const diffMs = citaDate - now;\n  const diffHours = diffMs / (1000 * 60 * 60);\n\n  const idioma = (cita.IDIOMA || 'español').toLowerCase().includes('ingl') ? 'english' : 'español';\n  const club = cita.CLUB || 'el club';\n  const fechaStr = fechaLegible(year, month, day);\n  const horaStr = horaLegible(horaRaw);\n\n  // RECORDATORIO 48H — entre 47h y 49h antes, no enviado aún\n  if (diffHours >= 47 && diffHours <= 49 && !cita.REMINDER_48H_ENVIADO) {\n    const mensaje = idioma === 'english'\n      ? `Your admission process is going smoothly and we are looking forward to welcoming you. We have already approved your membership, so the hardest step is done.\\n\\nYou just need to come to the \"${club}\" association for the final signing of your registration and closing of your file. It will only take a moment!\\n\\nWe will see you on ${fechaStr} at ${horaStr}.\\n\\nGet that membership card ready! We are sure you will enjoy being part of our community.\\n\\nBest regards,\\nThe WD Team`\n      : `Tu proceso de admisión va viento en popa y estamos deseando que te unas a nosotros. Ya te hemos avalado, así que el paso más complicado está hecho.\\n\\nSolo necesitamos que te acerques a la asociación \"${club}\" para la firma final de tu registro y el cierre del expediente. ¡Será un momento muy breve!\\n\\nTe esperamos el ${fechaStr} a las ${horaStr}.\\n\\n¡Prepara ese carnet de socio! Estamos seguros de que disfrutarás mucho siendo parte de nuestra comunidad.\\n\\nUn saludo muy cordial,\\nEl equipo de WD`;\n\n    results.push({\n      json: { ...cita, tipoRecordatorio: '48h', idioma, mensaje }\n    });\n  }\n\n  // RECORDATORIO 2H — entre 1.5h y 2.5h antes, no enviado aún\n  else if (diffHours >= 1.5 && diffHours <= 2.5 && !cita.REMINDER_2H_ENVIADO) {\n    const mensaje = idioma === 'english'\n      ? `We are very happy that you have decided to join \"${club}\". As we informed you by email, we have already processed your endorsement and now there is just one last step to officially welcome you.\\n\\nWe will see you on ${fechaStr} at ${horaStr} at the association. It is a very quick and necessary step to complete your registration.\\n\\nSee you soon!\\nThe WD Team`\n      : `Estamos muy contentos de que hayas decidido unirte a \"${club}\". Como te informamos por email, ya hemos tramitado tu aval y ahora solo queda un último paso para darte la bienvenida oficial.\\n\\nTe esperamos el ${fechaStr} a las ${horaStr} en la asociación. Es un paso muy rápido y necesario para completar tu registro.\\n\\n¡Nos vemos pronto!\\nEl equipo de WD`;\n\n    results.push({\n      json: { ...cita, tipoRecordatorio: '2h', idioma, mensaje }\n    });\n  }\n\n  // FEEDBACK — entre 23h y 25h DESPUÉS, no enviado aún\n  else if (diffHours >= -25 && diffHours <= -23 && !cita.FEEDBACK_ENVIADO) {\n    const mensaje = idioma === 'english'\n      ? `Hello! We hope you enjoyed your visit to ${club}. Could you tell us how your experience was?\\n\\nYour opinion helps us improve and offer an even better service to all our members.\\n\\nThank you for being part of our community!\\nThe WD Team`\n      : `¡Hola! Esperamos que hayas disfrutado tu visita a ${club}. ¿Podrías contarnos cómo fue tu experiencia?\\n\\nTu opinión nos ayuda a mejorar y a ofrecer un servicio aún mejor a todos nuestros socios.\\n\\n¡Gracias por ser parte de nuestra comunidad!\\nEl equipo de WD`;\n\n    results.push({\n      json: { ...cita, tipoRecordatorio: 'feedback', idioma, mensaje }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        288
      ],
      "id": "6df8a12f-28fa-40bc-b4f2-b833a02ef604",
      "name": "Filtrar y preparar mensajes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultramsg.com/instance147348/messages/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"token\": \"xv1gvdp8gg24m04v\",\n    \"to\": $json.TELEFONO,\n    \"body\": $json.mensaje\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        288
      ],
      "id": "cbb0badd-e3ba-4a90-b580-4c7cd2e7dc19",
      "name": "Enviar WhatsApp"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const tipo = item.json.tipoRecordatorio;\n  const update = { TELEFONO: item.json.TELEFONO };\n  if (tipo === '48h') update.REMINDER_48H_ENVIADO = 'TRUE';\n  if (tipo === '2h') update.REMINDER_2H_ENVIADO = 'TRUE';\n  if (tipo === 'feedback') update.FEEDBACK_ENVIADO = 'TRUE';\n  return { json: update };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        288
      ],
      "id": "b7b185ca-a721-4af1-90c1-e6ac9bb78750",
      "name": "Preparar actualización Sheet"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xx_NKeelx4US92rvSjpVZ8y3792YV3ah0rV3YhOw2tU",
          "mode": "list",
          "cachedResultName": "Weedestiny"
        },
        "sheetName": {
          "__rl": true,
          "value": 699149279,
          "mode": "list",
          "cachedResultName": "Citas_Activas"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "TELEFONO"
          ],
          "schema": [
            {
              "id": "TELEFONO",
              "displayName": "TELEFONO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CLUB",
              "displayName": "CLUB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHA_CITA",
              "displayName": "FECHA_CITA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEMP_FECHA",
              "displayName": "TEMP_FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEMP_HORA",
              "displayName": "TEMP_HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "N_PERSONAS",
              "displayName": "N_PERSONAS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IDIOMA",
              "displayName": "IDIOMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EVENT_ID",
              "displayName": "EVENT_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REMINDER_2H_ENVIADO",
              "displayName": "REMINDER_2H_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "REMINDER_48H_ENVIADO",
              "displayName": "REMINDER_48H_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FEEDBACK_ENVIADO",
              "displayName": "FEEDBACK_ENVIADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FEEDBACK_GUARDADO",
              "displayName": "FEEDBACK_GUARDADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        288
      ],
      "id": "a3a73153-294f-48c8-9a58-b824892ecfa4",
      "name": "Marcar como enviado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vo9EW9YS5yAVnVFW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cada hora": {
      "main": [
        [
          {
            "node": "Leer Citas Activas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Citas Activas": {
      "main": [
        [
          {
            "node": "Filtrar y preparar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar y preparar mensajes": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Preparar actualización Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar actualización Sheet": {
      "main": [
        [
          {
            "node": "Marcar como enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2b6e3f7b-f5e3-438d-9a0b-3c5ea1f90493",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7200a10b579840667ee30ede1a205653dad12fa8e0eafc997541bdf2aeaef236"
  },
  "id": "ux5chOt3bSWw8bx7",
  "tags": []
}